@font-face {
    font-family: 'rockettheme-apps';
    font-style: normal;
    font-weight: normal;
    src: url('genesis-theme://fonts/rockettheme-apps/rockettheme-apps.woff2') format('woff2'), url('genesis-theme://fonts/rockettheme-apps/rockettheme-apps.woff') format('woff'), url('genesis-theme://fonts/rockettheme-apps/rockettheme-apps.ttf') format('truetype');
}

// Dazzle Software Apps Support
i.fa-grav-spaceman, i.fa-grav-text, i.fa-grav-full,
i.fa-grav-logo, i.fa-grav-symbol, i.fa-grav-logo-both, i.fa-grav-both,
i.fa-genesis, i.fa-genesis-logo, i.fa-genesis-symbol, i.fa-genesis-logo-both, i.fa-genesis-both {
    font-family: 'rockettheme-apps';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Grav
.fa-grav-logo:before, .fa-grav-text:before {
    content: "\61";
}
.fa-grav-symbol:before, .fa-grav-spaceman:before {
    content: "\62";
}
.fa-grav-logo-both:before, .fa-grav-both:before, .fa-grav-full:before {
    content: "\66";
}

// Genesis
.fa-genesis-logo:before {
    content: "\64";
}
.fa-genesis:before, .fa-genesis-symbol:before {
    content: "\63";
}
.fa-genesis-logo-both:before, .fa-genesis-both:before {
    content: "\65";
}
