#g-extension {
    background: $extension-background;
    color: $extension-text-color;
}

// FP Extension
.fp-extension-a, .fp-extension-b {
	.genesis-content {
		padding: 50px 25px;
	}

	a:not(.readon3) {
		color: $accent-color-2;
		&:hover {
			color: inherit;
		}
	}
}
.fp-extension-a {
	.rt-icon-badge.rt-badge-left {
		padding-bottom: 75px;
	}
	.title {
		margin-top: 0;
	}
}
.fp-extension-b {
	.title {
		color: $white;
	}
	#lists {
		&.g-swipercarousel-lists {
			.g-swipercarousel {
				border: 2px solid;
			border-radius: 3px;
		}
			.ui-state-active {
				&.g-swipercarousel-item-title {
					color: $accent-color-2;
				}
				.indicator {
					&:before {
						background: $accent-color-2;
					}
				}
			}
			.g-swipercarousel-item-title {
				.indicator {
					background: $extension-text-color;
				}
			}
			.g-swipercarousel-item {
				&:last-child {
					margin-bottom: 50px;
				}
			}
		}
	}
}

@media print {
	#g-extension {
		background: #fff !important;
		color: #000 !important;
	}
}
