.breadcrumb {
	> li {
		text-shadow: none;
	}
}

.rt-nomodulecontent {
	div, p {
		display: none;
	}
}

#login-form {
	.btn {
		box-shadow: none;
	}
}

.g-search {
	input {
		width: 100%;
	}
}

.g-offline {
	#rt-authorized-form {
		#form-login {
			#form-login-username {
				margin-bottom: 0;
			}
			#form-login-password, #form-login-username {
				label {
					display: block;
				}
			}
		}
	}
	#frame {
		padding: 0;
	}
	#submit-buton {
		input.button {
			background-color: $accent-color-1;
			&:hover {
				background-color: $accent-color-1;
			}
		}
	}
}

#g-showcase {
	.rt-nomodulecontent {
		padding: 25px;
	}
}

.rt-title-center {
	.title {
		text-align: center;
	}
}

.g-swipercarousel-lists {
	div[id*='lists'] {
		position: relative;

		&.g-swipercarousel {
		    overflow: hidden;
		padding: 0;

		.swiper-slide {
	            .item {
	                p {
	                    margin: 0;
	                }
	            }
	        }

			.g-swipercarousel-item {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				padding: 5px 0;
				margin-bottom: 2px;

				.g-swipercarousel-item-title {
					position: relative;
				    padding: 10px 0 10px 15px;
				    margin: 0;
				    cursor: pointer;
				    display: block;

					&:focus {
	                    outline: none;
	                }

					.indicator {
						position: absolute;
					    width: 30px;
					    height: 30px;
					    line-height: 30px;
					    top: 50%;
					    margin-top: -17px;
					    right: 5px;
					    cursor: pointer;
						opacity: 0.7;
	                    border-radius: 3px;
	                    display: block;
	                    cursor: pointer;
	                    text-align: center;

						span {
							display: none;
						}

						&:before {
						    vertical-align: middle;
						    text-align: center;
						    cursor: pointer;
						    border-radius: 3px;
						    color: darken($accent-color-1, 40%);
							content: "\f067";
						    font-family: FontAwesome;
						    background: darken($accent-color-1, 20%);
						    text-shadow: none;
						    font-size: 12px;
						    display: block;
						}

						&:hover {
							opacity: 1;
						}
					}
					&.ui-accordion-header-active {
	                    margin: 0;


						.indicator {
							opacity: 1;
							&:before {
								content: "\f00d";
								font-family: FontAwesome;
								font-size: 13px;
							}
						}
					}
				}

				.g-swipercarousel-content {
					border-bottom: 0;
	                padding-bottom: 3px;

					.g-swipercarousel-item-desc {
						display: block;
					    padding: 0 15px;
					}
				}
			}
			.swiper-navigation {
				margin-top: 40px;
				> div, > button {
					color: #ffffff;
					background: rgba(0, 0, 0, 0.5);
					border-radius: 0;
					border: none;
					position: absolute;
				    display: block;
				    width: 25px;
				    height: 25px;
				    opacity: 0.7;
				    cursor: pointer;
				    text-align: center;
				    transform: none;
				    margin-left: 5px;
				    margin-top: 35px;
				    text-shadow: none;
				    top: auto;
				    bottom: 0;
				    right: 0;
				    left: auto;

				    &:hover {
						opacity: 1;
					}

				    &.swiper-button-next {
					&:before {
						content: '\f105';
						    font-family: FontAwesome;
						    position: absolute;
						    top: 0;
						    left: 11px;
					    }
				    }
				    &.swiper-button-prev {
					margin-right: 1.8rem;
					&:before {
						content: '\f104';
						    font-family: FontAwesome;
						    position: absolute;
						    top: 0;
						    left: 9px;
					    }
				    }
				    span {
					display: none;
				    }
				}
			}
			.swiper-pagination {
				position: absolute;
				right: 75px;
				bottom: 0;
				width: auto;

				.swiper-pagination-bullet {
		background: rgba(0, 0, 0, 0.7);
		opacity: 0.8;
		margin: 0 2px;
					padding: 7px;
					width: 0;
					height: 0;
					border-radius: 1em;
					&.active {
						background: $black;
						opacity: 1;
					}
				}
			}
		}
	}
}

.g-comingsoon {
	button {
		padding: 15px 20px !important;
	}
}

.g-offline {
	#frame form {
	text-align: center;
    }
}
