.g-blockcontent {
  .g-title {
    font-family: get-font-family($font-family-title);
    font-size: $core-font-size + 1;
    font-weight: $font-weight-regular;
    line-height: $core-line-height - 0.25;
    @include breakpoint(small-mobile-range) {
      font-size: $core-font-size + 0.75;
    }
    &:not(.g-blockcontent-headline) {
      padding: 0;
    }
  }
  .g-blockcontent-headline {
    margin-bottom: $content-padding;
  }
  .g-blockcontent-description {
    margin-top: (-1 * ($content-padding + $content-margin));
  }
  .g-blockcontent-subcontent-title {
    margin: 0;
    padding: 0;        
  }
  .g-blockcontent-subcontent-title-icon {
    color: $accent-color-1;
    display: block;
    margin-bottom: $content-margin;
  }
  .g-blockcontent-subcontent-title-text {
    font-family: get-font-family($font-family-title);
    font-size: $core-font-size + 0.5;
    font-weight: $font-weight-regular;    
  }
  .g-blockcontent-subcontent {
    margin-left: (-1 * ($content-margin + $content-padding));
    margin-right: (-1 * ($content-margin + $content-padding));
  }
  .g-blockcontent-subcontent-subtitle {
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-regular; 
    font-size: $core-font-size + 0.25;
  }  
  .g-blockcontent-subcontent-desc {
    font-size: $core-font-size;
    position: relative;
  }
  .g-blockcontent-subcontent-block-content {
    margin-top: 0;
  }
}
