.g-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .g-cards-subcontent-headline {
        display: flex;
        padding: $content-padding 0;
        line-height: normal;
        padding-right: $content-padding;
        .dir-rtl & {
          padding-right: 0;
          padding-left: $content-padding;
        }
        font-weight: $font-weight-medium;
        @include responsive-font($responsive-font-size + 1.4, $core-font-size + 0.4, false, false);
    }

    .g-cards-subcontent-title {
        @include responsive-font($responsive-font-size + 0.4, $core-font-size + 1, false, false);
        line-height: $core-line-height - 0.4;
    }
    .g-cards-subcontent-description {
        @include responsive-font($responsive-font-size + 0.3, $core-font-size, false, false);
        line-height: $core-line-height - 0.1;
    }

    .g-cards-subcontent-block {
        flex-grow: 1;

        .g-cards-subcontent-headline, .g-cards-subcontent-footer-fullname {
            color: transparentize(darken($base-text-color, 70%), 0.1);
        }

        .g-cards-subcontent-title, .g-cards-subcontent-description {
            color: transparentize(darken($base-text-color, 70%), 0.5);
        }

        .g-cards-subcontent-footer {
            font-weight: $font-weight-medium;
            margin: $content-padding 0;
            @include breakpoint(tablet-range) {
                margin: $content-padding;
            }
            display: flex;
            align-items: center;
            .g-cards-subcontent-footer-id {
                margin-left: $content-padding;
                .dir-rtl & {
                    margin-left: 0;
                    margin-right: $content-padding;
                }
                .g-cards-subcontent-footer-fullname {
                    @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                }
            }

            .g-cards-subcontent-img {
                border-radius: 100%;
                max-width: 60px;
            }

            .g-cards-subcontent-signature {
                margin-left: $content-padding;
                .dir-rtl & {
                  margin-0: $content-padding;
                  margin-right: $content-padding;
                }

                @include breakpoint(desktop-range) {
                    display: none;
                }

                @include breakpoint(tablet-range) {
                    display: none;
                }
            }
        }
    }

    // Columns

    // 1 Column
    &.g-cards-columns-1 {
        .g-cards-subcontent-block {
            width: 100%;
        }
    }
    // 2 Columns
    &.g-cards-columns-2 {
        .g-cards-subcontent-block {
            width: 50%;
            @include breakpoint(mobile-only) {
                width: 100%;
                margin-bottom: $content-margin;
            }
        }
    }
    // 3 Columns
    &.g-cards-columns-3 {
        .g-cards-subcontent-block {
            width: 33.3%;
            @include breakpoint(tablet-range) {
                width: 50%;
            }
            @include breakpoint(mobile-only) {
                width: 100%;
                margin-bottom: $content-margin;
            }
        }
    }
    // 4 Columns
    &.g-cards-columns-4 {
        .g-cards-subcontent-block {
            width: 25%;
            @include breakpoint(tablet-range) {
                width: 50%;
            }
            @include breakpoint(mobile-only) {
                width: 100%;
                margin-bottom: $content-margin;
            }
        }
    }
}
