// Search Plugin
.g-search {
    @include responsive-font($responsive-font-size - 0.2, $core-font-size + 0.15, false, false);
    text-align: right;

    .dir-rtl & {
        text-align: left;
    }

    @include breakpoint(mobile-only) {
        text-align: center;
    }

    // Hide Search Field
    .g-search-lightcase {
        display: none;
    }
}
