.breadcrumb {
  	> li {
   		text-shadow: none;
  	}
}

.rt-nomodulecontent {
	div, p {
		display: none;
	}
}

#login-form {
	.btn {
		box-shadow: none;
	}
}

.g-search {
	input {
		width: 100%;
	}
}

.g-offline {
	#rt-authorized-form {
		#form-login {
			#form-login-username {
				margin-bottom: 0;
			}
			#form-login-password, #form-login-username {
				label {
					display: block;
				}
			}	
		} 
	}
	#frame {
		padding: 0;
		background: none;

		form {
			text-align: center;
		}
	}
	#submit-buton {
		input.button {
			background-color: $accent-color-1;
			&:hover {
				background-color: $accent-color-1;
			}
		}
	}
}

#rt-authorized-form {
	.btn {
		padding: 15px 20px;
	}
}

.rt-title-center {
	.title {
		text-align: center;
	}
}

body {
	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
	    color: $main-text-color;
	    border-radius: $base-border-radius;
	    padding: 12px 15px;
	    margin: 0;

	    &:focus {
	        border-color: $accent-color-1;
	    }
	}
}
