.login, #login-form, #g-loginform {
	.form-input-wrapper {
		margin-bottom: 15px;
		input {
			width: 100%;
		}
	}

    #form-login-remember {
        .inputbox {
            float: none;
            margin-top: -3px;
        }
    }

	input#modlgn-username, input#modlgn-passwd, input#username, input#passwd, input#password {
		width: 100%;
	}

    .add-on {
        padding: 11px;

        & + input#modlgn-username, & + input#modlgn-passwd {
            padding: 22px;
        }
    }

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	    color: $white;
	}	
}

