.g-swipercarousel-slider {
	position: relative;
	.g-swipercarousel {

		.g-swipercarousel-image-container {
			position: relative;
		}

		.g-swipercarousel-content {
			position: absolute;
		    width: 100%;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    box-sizing: border-box;
			padding: 15px;

			.fp-showcase & {
				background: fade-out(darken($showcase-background, 15%), 0.25);
			}

			.g-swipercarousel-content-wrapper {
				position: absolute;
				width: 40%;
				left: 60px;
				bottom: 60px;

				@include breakpoint(desktop-range) {
					width: 50%;
					left: 45px;
					bottom: 45px;
				}

				@include breakpoint(tablet-range) {
					width: 50%;
					left: 45px;
					bottom: 30px;
				}

				@include breakpoint(mobile-only) {
					position: relative;
					width: 100%;
					top: 0;
					left: 0;
					text-align: center;
				}

			    .g-swipercarousel-item-title {
					font-family: get-font-family($font-family-alt);
					font-weight: bold;
				    font-size: 4em;
				    line-height: 1em;
				    margin: 0;

				    .fp-showcase & {
					    color: $showcase-text-color;
					&:hover {
						color: fade-out($showcase-text-color, 0.15);
					}
				    }

				    @include breakpoint(desktop-range) {
						font-size: 3em;
						line-height: 1.15em;
					}

					@include breakpoint(tablet-range) {
						font-size: 2em;
						line-height: 1.15em;
					}

					@include breakpoint(mobile-only) {
						font-size: 1.5em;
						line-height: 1.25em;
					}

					@include breakpoint(small-mobile-range) {
						margin-top: 5%;
					}

				    a {
					.fp-showcase & {
						color: $showcase-text-color;
						&:hover {
							color: fade-out($showcase-text-color, 0.15);
						}
					    }
				    }
			    }

			    .g-swipercarousel-item-desc {
				font-size: 1.3em;
				line-height: 1.5em;
				margin-top: 10px;

				    @include breakpoint(desktop-range) {
						font-size: 1.1em;
						line-height: 1.5em;
					}

					@include breakpoint(tablet-range) {
						font-size: 1em;
						line-height: 1.5em;
					}

					@include breakpoint(large-mobile-range) {
						font-size: 1em;
						line-height: 1em;
					}

					@include breakpoint(small-mobile-range) {
						display: none;
					}

				.rt-title-tag {
					font-size: 0.85em;
					margin: 0 0 5px 0;
					font-family: get-font-family($font-family-alt2);
				}

				.readon {

					.fp-showcase & {
						font-size: 1rem;
					}
					@include breakpoint(mobile-only) {
						display: none;
					}
				}
			    }
			}
		}

		.swiper-pagination {
			bottom: 15px;
			left: 50%;
			text-align: left;
			margin-left: -40px;

			button {
				opacity: 1;
				padding: 0;
				transition: opacity 0.2s ease-in;

				background-color: $dark-grey;

				&.active {
					background-color: $accent-color-1;

					&:hover {
						background-color: $accent-color-1;
					}
				}

				&:hover {
					background-color: $dark-grey;
				}
			}
		}

	    .swiper-navigation {
	      button.swiper-button-prev, button.swiper-button-next {
		background: $accent-color-1;
			color: $white;
			width: 30px;
			height: 30px;
			opacity: 0.35;
			font-size: 1.5em;
			position: absolute !important;
			border: 0;
			transition: all 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}

	        &:focus {
	          outline: none;
	        }

	&:before {
                font-family: FontAwesome;
                position: relative;
            }

            &.swiper-button-prev {
                left: 5px;
                padding-right: 3px;

                &:before {
                    content: "\f104";
                }
            }

            &.swiper-button-next {
                right: 5px;
                padding-left: 3px;

                &:before {
                    content: "\f105";
                }
            }

	        span {
		display: none;
	        }
	      }
	    }
	}

	.swiper-thumbs {
		position: absolute;
		right: 45px;
		bottom: 45px;
		width: 370px;
		z-index: 10;

		@include breakpoint(desktop-range) {
			right: 30px;
			bottom: 30px;
		}

		@include breakpoint(tablet-range) {
			width: 270px;
			right: 25px;
			bottom: 25px;
		}

		@include breakpoint(mobile-only) {
			left: 0;
			bottom: 5px;
			width: 100%;
			text-align: center;
		}

		.swiper-thumb {
			transition: opacity 0.2s ease-in;
			cursor: pointer;
			width: 150px;
		margin: 15px;
		opacity: 0.5;
		display: inline-block;
		transform: translateZ(0);
		backface-visibility: hidden;

		&.active {
			opacity: 1;
		}

		@include breakpoint(tablet-range) {
				width: 115px;
				margin: 5px;
		}

		@include breakpoint(mobile-only) {
				width: 80px;
				margin: 3px;
		}
		}
	}
}

