#
# Genesis Argon style configuration for phpBB
#

# General Information about this style
name = genesis_argon
copyright = (c) Dazzle Software, LLC
style_version = 5.6.1
phpbb_version = 3.3.17

# Parent style
# Set value to empty or to this style's name if this style does not have a parent style
parent =
