#g-expandedbottom {
    background: $expandedbottom-background;
    color: $expandedbottom-text-color;
}

.fp-expandedbottom {
	.swiper .swiper-slide {
		img {
			border-radius: 3px;
			width: 100px;
		}
		.g-swipercarousel-item-desc {
			font-family: get-font-family($font-family-promo);
		}
	}
}

@media print {
	#g-expandedbottom {
		background: #fff !important;
		color: #000 !important;
	}
}
