.g-logo {
    display: block;
    justify-content: center;
    position: relative;
    font-weight: $font-weight-extrabold;
    @include responsive-font($responsive-font-size + 1, $core-font-size + 0.5, false, false);
    & { box-shadow: none !important; }
    & { line-height: normal; }
    @include breakpoint(mobile-only) {
        margin-left: 2rem;
    }
}

.avatar-logo {
    img {
        width: 80px;
        border-radius: 100%;
    }
}
