#g-slideshow {
    background: $slideshow-background;
    color: $slideshow-text-color;
    margin-top: -142px;
    border-bottom: 5px solid $accent-color-1;
    // Container
    > .container {
	width: 100%;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
    }
    // RokSprocket Features
	.sprocket-features, .g-swipercarousel-feature-slider {
		&.layout-slideshow, [id^="g-swipercarousel-featuresslider-"] {
			.sprocket-features-img-container, .g-swipercarousel-item-image {
				height: min(70vh, 500px);
				@include breakpoint(mobile-only) {
					height: 450px;
				}
				@include breakpoint(desktop-range) {
					height: 500px;
				}
			}
			.sprocket-features-title, .g-swipercarousel-item-title {
				padding-top: min(50vh, 320px);
				@include breakpoint(desktop-range) {
					padding-top: 320px;
				}
				@include breakpoint(mobile-only) {
					padding-top: 280px;
					width: 60%;
					font-size: 1.35rem;
					line-height: 1.25;
				}
			}
			.sprocket-features-arrows .arrow, .swiper-navigation .swiper-button-prev, .swiper-navigation .swiper-button-next {
				background: transparent;
				top: min(50vh, 320px);
				@include breakpoint(desktop-range) {
					top: 320px;
				}
				@include breakpoint(mobile-only) {
					top: 280px;
				}
			}
		}
	}
}

@media print {
	#g-slideshow {
		background: #fff !important;
		color: #000 !important;
	}
}
