.g-offline {

    text-align: inherit;

    &.scrollheader {
        padding-top: 0 !important;
    }	

    #rt-logo {
        background-image: url(genesis-media://logo/white/logo.png);
        width: 165px;
        height: 60px;
        margin: 0 auto;
        display: block;
    }

    #g-showcase {
        padding: 150px 0;
    }
}
