.g-branding {
    @include breakpoint(mobile-only) {
      text-align: center;
    }

    .dir-rtl & {
        direction: ltr;
    }

    a {
        color: $base-text-color;

        &:hover {
            color: $accent-color-1;
        }
    }
}
