#g-navigation {
    color: $navigation-text-color;
    background: $navigation-background;

    .row {
        align-items: center;
    }
}

@media print {
    #g-navigation {
        background: #fff !important;
        color: #000 !important;
    }
}
