@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #282828;
  } @else {
    @return #ffffff;
  }
}
@function set-button-border($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #282828;
  } @else {
    @return #ffffff;
  }
}

%g-main-button {
	color: set-text-color($main-background);
	border: 2px solid set-button-border($main-background);
	&:hover, &:active, &:focus {
		border: 2px solid $accent-color-2;
		color: $accent-color-2;
	}
}

#g-main {
	background: $main-background;
	color: $main-text-color;
	// g-container
	> .g-container {
		padding: 2rem 0;
	} 	
	// Title and Heading
	.g-title, .g-headline,
	h1, h2, h3, h4, h5, h6 {
		color: set-text-color($main-background);
	}	
	// Button 3
	.button-3 {
		@extend %g-main-button;
	}	
	// Ethereal Block
	.g-etherealblock {
		background: $white;
		color: $white;

		.g-etherealblock-item {
			&:before {
			    background: fade-out(mix(black, $main-background, 35%), 0.25);
	            .g-style-preset7 &, .g-style-preset8 &, .g-style-preset9 &, .g-style-preset10 & {
	                background: rgba(0, 0, 0, 0.75);
	            }			    
			}
			&:hover {
				&:before {
					background: fade-out(mix(black, $main-background, 35%), 0.50);
		            .g-style-preset7 &, .g-style-preset8 &, .g-style-preset9 &, .g-style-preset10 & {
		                background: rgba(0, 0, 0, 0.5);
		            }					
				}
			}	
			.button-3 {
				color: $white;
				border: 2px solid $white;
				&:hover, &:active, &:focus {
					border: 2px solid $accent-color-2;
					color: $accent-color-2;
				}
			}			
		}

		a:not(.button) {
			color: $accent-color-2;
			&:hover {
				color: inherit;
			}
		}
		.g-etherealblock-item-3 {
			color: darken($white, 50%) !important;
			a, .g-headline {
				color: darken($white, 75%) !important;
			}
			&:before {
				background: $white !important;
			}			
		}	
		.g-etherealblock-item-4 {
		    border-top: 3px solid $accent-color-2;
		}			
	}	
}

@media print {
	#g-main {
		background: #fff !important;
		color: #000 !important;
	}
}
