#g-bottom {
	background: $bottom-background;
	color: $bottom-text-color;
}

.fp-bottom-a {
	.title {
		font-family: get-font-family($font-family-alt2);
		font-size: $base-font-size - 2;
		font-weight: normal;
		text-transform: uppercase;
		margin: 0;
		padding: 5px 10px;
		color: $white;
		background: $accent-color-1;
		line-height: 1;
		border-radius: 3px;
		display: inline-block;
	}
}

.fp-bottom-b {
	.genesis-content {
		margin-top: 25px;
    	padding: 0;
    	border: none;

    	.rt-title-tag {
	    	opacity: 0.75;
	    	font-size: 1em;
	    	margin: 0 0 5px 0;
	   		font-family: get-font-family($font-family-alt2);
    	}
	}
}

.fp-bottom-c {
	.genesis-content {
		margin: 0;
    	padding-top: 10px;
	}
}

@media print {
	#g-bottom {
		background: #fff !important;
		color: #000 !important;
	}
}
