// Buttons
.button, .button2, .readon, .readon2, .readon3, a.readmore, button.validate, p.readmore a, #member-profile a, #member-registration a, .formelm-buttons button, .controls .btn, .form-group .btn, .logout-button .btn, .sprocket-readmore, .roksearch_results a.clr, input.g-newsletter-button-submit, button, input[type="submit"] {
	display: inline-block;
	padding: 10px 20px;
	line-height: normal;
	font-size: $base-font-size;
	border-radius: 3px;
	text-shadow: none;
	text-decoration: none;
	transition: all 0.2s ease-in;
	color: $white;
	border: 1px solid transparent;
	background: $accent-color-1;
	font-weight: bold;

	&:hover {
		text-shadow: none;
		text-decoration: none;
		color: $white;
		background: darken($accent-color-1, 15%);
		border: 1px solid transparent;
		border-radius: 3px;
	}
}
.readon {
	font-family: get-font-family($font-family-default);
}
.button {
	font-family: get-font-family($font-family-default);
}

body {
	button[type="submit"], input[type="submit"] {
		padding: 15px 20px;
	}
}
