#g-mainbody {
	background: $mainbody-background;
    color: $mainbody-text-color;

	.fp-headlines {
		> .genesis-content {
			padding: 10px !important;
		}
	}
}

.fp-main {
	.rt-icon-large {
		opacity: 0.5;
	}
}

.fp-content-top {
	.genesis-content {
		padding: 0;
		@include breakpoint(mobile-only) {
			padding: 15px 25px;

			&.g-blockcontent-subcontent-block-content {
				padding: 0;
			}
		}
	}
}

.fp-content-tabs {
	.genesis-content {
		padding: 15px 0 0;

		hr {
			margin: 10px -10px 20px -10px;
		}
	}
}

.fp-content-bottom {
    .genesis-content {
	padding: 15px;
	width: 88%;
	margin: 25px auto;
    }
    @include breakpoint(mobile-only) {
	.genesis-right {
		float: left !important;
		margin-left: 0;
	}
    }
}

@media print {
	#g-mainbody {
		background: #fff !important;
		color: #000 !important;
	}
}
