// RokSprocket Arrows Inheritance
%sprocket-arrow {
    color: darken($accent-color-1, 25%);
    background: $accent-color-1;
    box-shadow: none;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    font-weight: normal;
    line-height: 28px;
}

// RokSprocket Pagination Inheritance
%sprocket-pagination {
    background: transparent;
    color: darken($accent-color-1, 25%);
    border: 2px solid $accent-color-1;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 0;
    box-shadow: none;
    &.active {
        background: $accent-color-1;
    }
}

// RokSprocket General
[class*="sprocket-"] {
    *,  *:before,  *:after {
        box-sizing: border-box !important;
    }
    .platform-content & {
        *,  *:before,  *:after {
            box-sizing: border-box !important;
        }
    }
}

// RokSprocket Features - Slideshow
.sprocket-features {
    &.layout-slideshow {
        .sprocket-features-img-container:before {
            background: linear-gradient(rgba($feature-background, 0), $feature-background);
            position: absolute;
            content: "";
            width: 100%;
            height: 75%;
            bottom: 0;
        }
        .sprocket-features-index-1 {
            .sprocket-features-img-container,
            .sprocket-features-content {
                opacity: 1;
                z-index: 2;
            }
            .sprocket-features-img-container {
                position: relative;
            }
        }
        .sprocket-features-img-container,
        .sprocket-features-content {
            opacity: 0;
            position: absolute;
            z-index: 1;
        }
        .sprocket-features-content {
            width: 40%;
            padding: 1rem;
            @include breakpoint(desktop-range) {
                width: 44%;
            }
            @include breakpoint(tablet-range) {
                width: 55%;
            }
            @include breakpoint(mobile-only) {
                width: 55%;
                padding-top: 0;
            }
            @include breakpoint(small-mobile-range) {
                top: 20px;
                left: 1rem;
            }
        }
        .sprocket-features-title,
        .sprocket-features-desc {
            background: transparent;
            color: inherit;
        }
        .sprocket-features-title {
            font-size: $core-font-size + 2;
            line-height: $core-line-height - 0.3;
            font-family: get-font-family($font-family-promo);
            font-weight: $font-weight-ultrabold;
            margin: 0;
            padding: 10px;
            @include breakpoint(desktop-range) {
                font-size: $core-font-size + 1.5;
                line-height: $core-line-height - 0.4;
            }
            @include breakpoint(tablet-range) {
                font-size: $core-font-size + 1;
                line-height: $core-line-height - 0.5;
            }
            @include breakpoint(mobile-only) {
                font-size: $core-font-size + 0.3;
                padding-top: 0;
            }
            @include breakpoint(small-mobile-range) {
                font-size: $core-font-size + 0.2;
            }
        }
        .sprocket-features-desc {
            opacity: 0.75;
            font-size: $core-font-size + 0.05rem;
            line-height: $core-line-height - 0.2;
            padding: 10px;
            @include breakpoint(tablet-range) {
                font-size: $core-font-size;
            }
            @include breakpoint(mobile-only) {
                display: none;
            }
            p {
                margin-top: 0;
            }
        }
        .sprocket-features-arrows {
            .arrow {
                margin-top: -15px;
                @extend %sprocket-arrow;
                &.next {
                    right: 1rem;
                }
                &.prev {
                    left: 1rem;
                }
                @include breakpoint(small-mobile-range) {
                    width: 20px;
                    height: 20px;
                    line-height: 18px;
                    &.next {
                        right: 0.3rem;
                    }
                    &.prev {
                        left: 0.3rem;
                    }
                }
            }
        }
        .sprocket-features-pagination {
            left: inherit;
            right: 1rem;
            @include breakpoint(mobile-only) {
                left: 1rem;
                text-align: center;
                bottom: 0;
            }
            li {
                @extend %sprocket-pagination;
                display: block;
                width: 30px;
                height: 30px;
                margin-bottom: 0.25rem;
                @include breakpoint(mobile-only) {
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    vertical-align: bottom;
                    span {
                        display: none;
                        visibility: hidden;
                    }
                }
                span {
                    display: block;
                    line-height: 28px;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
    }
}

// RokSprocket Tabs
.sprocket-tabs {
    &.layout-top, &.layout-right, &.layout-bottom, &.layout-left {
        .sprocket-tabs-nav {
            background: transparent;
            padding: 0 !important;
            border: none;
            > li {
                    > .sprocket-tabs-inner {
                        border: none;
                        border-radius: $border-radius;
                        display: inline-block;
                        font-family: get-font-family($font-family-title);
                        font-weight: $font-weight-bold;
                        font-size: $core-font-size - 0.2;
                        margin: 0;
                        padding: 0.25rem 0.75rem;
                        text-transform: uppercase;
                        line-height: normal;
                    }
                &.active, &.active:hover, &.active:focus {
                    > .sprocket-tabs-inner {
                        color: lighten($base-text-color, 10%);
                        background: darken($base-background, 10%);
                    }
                }
                &:hover, &:focus {
                    > .sprocket-tabs-inner {
                        background: darken($base-background, 8%);
                    }
                }
            }
        }
    }
    &.layout-top, &.layout-bottom {
        .sprocket-tabs-nav > li > .sprocket-tabs-inner {
            margin-right: 0.25rem;
        }
    }
    &.layout-top {
        .sprocket-tabs-nav {
            margin-bottom: 1rem;
        }
    }
    &.layout-bottom {
        .sprocket-tabs-nav {
            margin-top: 1rem;
        }
    }
    &.layout-left, &.layout-right {
        .sprocket-tabs-nav > li > .sprocket-tabs-inner {
            margin-bottom: 0.25rem;
        }
    }
    &.layout-left {
        .sprocket-tabs-nav {
            margin-right: 1rem;
        }
    }
    &.layout-right {
        .sprocket-tabs-nav {
            margin-left: 1rem;
        }
    }
}

// RokSprocket Headlines
.sprocket-headlines {
    background: transparent;
    border: none;
    margin: -0.5rem 0;
    .sprocket-headlines-badge {
        height: 2.6rem;
    }
    .sprocket-headlines-badge span {
        font-family: get-font-family($font-family-title);
        font-size: $core-font-size - 0.1;
        line-height: 1.25rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        padding: 10px;
        display: block;
    }
    .sprocket-headlines-list {
        width: 80%;
        padding: 10px;
    }
    .sprocket-headlines-text {
        font-size: 1rem;
    }
    .sprocket-headlines-navigation {
        padding: 0;
        width: auto;
        .arrow {
            @extend %sprocket-arrow;
        }
    }
}

// RokSprocket Strips
.sprocket-strips {
    .sprocket-strips-item {
        box-shadow: none;
        border-radius: $border-radius;
        overflow: hidden;
    }
    .sprocket-strips-content {
        background: linear-gradient(transparent, fade-out($black, 0.2));
        position: relative;
        &:hover {
            .sprocket-strips-title, .sprocket-strips-text, .readon span {
                opacity: 0;
            }
            .readon:before, .readon:after {
                opacity: 1;
            }
        }
    }
    .sprocket-strips-tag {
        position: absolute;
        top: 1rem;
        color: $white;
        background: rgba(0, 0, 0, 0.75);
        border-radius: $border-radius;
        display: inline-block;
        font-family: get-font-family($font-family-title);
        font-weight: $font-weight-bold;
        font-size: $core-font-size - 0.3;
        padding: 0.15rem 0.75rem;
        text-transform: uppercase;
    }
    .sprocket-strips-title,
    .sprocket-strips-title a {
        color: $white;
        font-size: $core-font-size + 0.25;
        line-height: 1.5rem;
        font-family: get-font-family($font-family-promo);
        font-weight: $font-weight-ultrabold;
        margin: 100% 0 0 0;
    }
    .sprocket-strips-text {
        opacity: 0.75;
        line-height: 2.5rem;
    }
    .readon {
        &:before, &:after {
            position: absolute;
            opacity: 0;
            transition: opacity 0.35s;
        }
        &:before {
            background: fade-out($accent-color-1, 0.25);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
        }
        &:after {
            color: $white;
            content: "\f15c";
            top: 50%;
            left: 50%;
            font-size: 3.5rem;
            font-family: FontAwesome;
            margin-top: -1.5rem;
            margin-left: -1.5rem;
        }
    }
    .sprocket-strips-title, .sprocket-strips-text, .readon span {
        transition: opacity 0.35s;
    }
    .sprocket-strips-arrows {
        .arrow {
            @extend %sprocket-arrow;
        }
    }
    .sprocket-strips-pagination {
        li {
            @extend %sprocket-pagination;
        }
    }
    .sprocket-strips-overlay .css-loader-wrapper {
        box-sizing: unset !important;
    }
}

// RokSprocket Lists
.sprocket-lists {
    .sprocket-lists-title {
        font-family: get-font-family($font-family-title);
        font-weight: $font-weight-bold;
        font-size: $core-font-size - 0.1 !important;
        line-height: 1.35rem !important;
        text-transform: uppercase;
        background: transparent;
        border: none;
        .indicator {
            color: $black;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 3px;
            width: 20px;
            height: 20px;
            line-height: 20px;
        }
    }
    .sprocket-lists-container {
        li {
            padding: 0.5rem;
            border-bottom: 1px solid $rule-color;
            &.active {
                background: $white;
                color: $base-text-color;
                .sprocket-lists-title {
                    line-height: 1rem !important;
                    margin: 0.25rem 0 0 0 !important;
                }
                .indicator {
                    background: rgba(0, 0, 0, 0.25);
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .readon {
        display: inline-block;
        margin-top: 0.35rem;
    }
    .sprocket-lists-arrows {
        .arrow {
            @extend %sprocket-arrow;
        }
    }
    .sprocket-lists-nav {
        padding: 0.75rem 1rem;
    }
    .sprocket-lists-pagination {
        li {
            @extend %sprocket-pagination;
        }
    }
}

// Default RokSprocket Media

// Features
@include breakpoint(mobile-only) {
    .layout-slideshow2 .sprocket-features-desc {display: none;}
}

// Grids
@include breakpoint(tablet-range) {
    .sprocket-grids-b-columns-1 > li, .sprocket-grids-b-columns-2 > li, .sprocket-grids-b-columns-3 > li, .sprocket-grids-b-columns-4 > li, .sprocket-grids-b-columns-5 > li, .sprocket-grids-b-columns-6 > li, .sprocket-grids-b-columns-7 > li, .sprocket-grids-b-columns-8 > li, .sprocket-grids-b-columns-9 > li, .sprocket-grids-b-columns-10 > li {width: 33.34%;}
}

@include breakpoint(large-mobile-range) {
    .sprocket-grids-b-columns-1 > li, .sprocket-grids-b-columns-2 > li, .sprocket-grids-b-columns-3 > li, .sprocket-grids-b-columns-4 > li, .sprocket-grids-b-columns-5 > li, .sprocket-grids-b-columns-6 > li, .sprocket-grids-b-columns-7 > li, .sprocket-grids-b-columns-8 > li, .sprocket-grids-b-columns-9 > li, .sprocket-grids-b-columns-10 > li {width: 50%;}
    .sprocket-grids-b-info {display: none;}
}

@include breakpoint(small-mobile-range) {
    .sprocket-grids-b-columns-1 > li, .sprocket-grids-b-columns-2 > li, .sprocket-grids-b-columns-3 > li, .sprocket-grids-b-columns-4 > li, .sprocket-grids-b-columns-5 > li, .sprocket-grids-b-columns-6 > li, .sprocket-grids-b-columns-7 > li, .sprocket-grids-b-columns-8 > li, .sprocket-grids-b-columns-9 > li, .sprocket-grids-b-columns-10 > li {width: 50%;}
    .sprocket-grids-b-content {text-align: center;}
    .sprocket-grids-b-info, .sprocket-grids-b-text {display: none;}
}

// Mosaic
@include breakpoint(tablet-range) {
    .sprocket-mosaic-columns-1 li, .sprocket-mosaic-columns-2 li, .sprocket-mosaic-columns-3 li, .sprocket-mosaic-columns-4 li, .sprocket-mosaic-columns-5 li, .sprocket-mosaic-columns-6 li, .sprocket-mosaic-g-columns-1 > li, .sprocket-mosaic-g-columns-2 > li, .sprocket-mosaic-g-columns-3 > li, .sprocket-mosaic-g-columns-4 > li, .sprocket-mosaic-g-columns-5 > li, .sprocket-mosaic-g-columns-6 > li {width: 33.34%;}
}

@include breakpoint(large-mobile-range) {
    .sprocket-mosaic-columns-1 li, .sprocket-mosaic-columns-2 li, .sprocket-mosaic-columns-3 li, .sprocket-mosaic-columns-4 li, .sprocket-mosaic-columns-5 li, .sprocket-mosaic-columns-6 li, .sprocket-mosaic-g-columns-1 > li, .sprocket-mosaic-g-columns-2 > li, .sprocket-mosaic-g-columns-3 > li, .sprocket-mosaic-g-columns-4 > li, .sprocket-mosaic-g-columns-5 > li, .sprocket-mosaic-g-columns-6 > li {width: 50%;}
    .sprocket-mosaic-g-info {display: none;}
}

@include breakpoint(small-mobile-range) {
    .sprocket-mosaic-columns-1 li, .sprocket-mosaic-columns-2 li, .sprocket-mosaic-columns-3 li, .sprocket-mosaic-columns-4 li, .sprocket-mosaic-columns-5 li, .sprocket-mosaic-columns-6 li, .sprocket-mosaic-g-columns-1 > li, .sprocket-mosaic-g-columns-2 > li, .sprocket-mosaic-g-columns-3 > li, .sprocket-mosaic-g-columns-4 > li, .sprocket-mosaic-g-columns-5 > li, .sprocket-mosaic-g-columns-6 > li {width: 100%;}
    .sprocket-mosaic-g-content {text-align: center;}
    .sprocket-mosaic-g-info, .sprocket-mosaic-g-tags, .sprocket-mosaic-g-text {display: none;}
}

// Quotes
@include breakpoint(mobile-only) {
    .sprocket-quotes .cols-1 > li, .sprocket-quotes .cols-2 > li, .sprocket-quotes .cols-3 > li, .sprocket-quotes .cols-4 > li {width: 100%;float: none;}
}

// Strips
@include breakpoint(mobile-only) {
    .sprocket-strips .cols-1 > li, .sprocket-strips .cols-2 > li, .sprocket-strips .cols-3 > li, .sprocket-strips .cols-4 > li, .sprocket-strips .cols-5 > li, .sprocket-strips .cols-6 > li, .sprocket-strips .cols-7 > li, .sprocket-strips .cols-8 > li, .sprocket-strips .cols-9 > li, .sprocket-strips .cols-10 > li, .sprocket-strips .cols-11 > li, .sprocket-strips .cols-12 > li {width: 98%;float: none;}
}

@include breakpoint(large-mobile-range) {
    .sprocket-strips-c-container .sprocket-strips-c-block, .sprocket-strips-p-container .sprocket-strips-p-block, .sprocket-strips-s-container .sprocket-strips-s-block {width: 50%;}
}

@include breakpoint(small-mobile-range) {
    .sprocket-strips-c-container .sprocket-strips-c-block, .sprocket-strips-p-container .sprocket-strips-p-block, .sprocket-strips-s-container .sprocket-strips-s-block {width: 100%;float: none;}
    .sprocket-strips-s-item img {width: auto;float: none;margin: 0;}
}

// Tables
@include breakpoint(large-mobile-range) {
    .sprocket-tables-container .sprocket-tables-block {width: 50%;}
}

@include breakpoint(small-mobile-range) {
    .sprocket-tables-container .sprocket-tables-block {width: 100%;float: none;margin-bottom: 15px;}
}
