#g-showcase {
    .g-container {
        background: $showcase-background;
        color: $showcase-text-color;
    }
}

@media print {
	#g-showcase {
		background: #fff !important;
		color: #000 !important;
	}
}

// Demo Showcase
.fp-showcase-image, .fp-roksprocket-showcase-image {
	background-repeat: no-repeat;
	background-size: cover;
	.sprocket-features-img-container, .g-swipercarousel-item-image {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

// Demo Plain Callisto
.fp-showcase-image {
	@for $i from 1 through 6 {
		.g-style-preset#{$i} &, body & {
			background-image: url("genesis-theme://images/demo/home/showcase/roksprocket-showcase/img-01-dark.jpg");
		}
	}
	@for $i from 7 through 10 {
		.g-style-preset#{$i} & {
			background-image: url("genesis-theme://images/demo/home/showcase/roksprocket-showcase/img-01-light.jpg");
		}
	}
}

// Demo RocketLauncher Callisto
@for $x from 1 through 3 {
	.fp-roksprocket-showcase-image .sprocket-features-index-#{$x} .sprocket-features-img-container,
    .fp-showcase-image .g-swipercarousel-features-index-#{$x} .g-swipercarousel-item-image {
		@for $i from 1 through 6 {
			.g-style-preset#{$i} &, body & {
				background-image: url("genesis-theme://images/demo/home/showcase/roksprocket-showcase/img-0#{$x}-dark.jpg");
			}
		}
		@for $i from 7 through 10 {
			.g-style-preset#{$i} & {
				background-image: url("genesis-theme://images/demo/home/showcase/roksprocket-showcase/img-0#{$x}-light.jpg");
			}
		}
	}
}
