#g-sidebar {
    background: $sidebar-background;
    color: $sidebar-text-color;
    height: 100%;
    z-index: 5;

    h2.g-title {
        color: $sidebar-text-color;
    }

    // Expand Sidebar BG
    &.expand-sidebar-bg {
        &:before {
            background: $sidebar-background;
        }

        .row {
            .col {
                &:before {
                    background: $sidebar-background;
                }
            }

            &:not(:last-child) {
                .col {
                    &:after {
                        position: absolute;
                        z-index: 1;
                        content: '';
                        background: linear-gradient(to right, transparentize($base-text-color, 1) 50%, transparentize($base-text-color, 0.20) 80%);
                        bottom: 0;
                        height: 1px;
                        width: 200%;
                        left: -100%;

                        .dir-rtl & {
                            left: 0;
                            right: -100%;
                        }
                    }
                }
            }
        }
    }

    // Video Carousel
    .g-swipercarousel-video-carousel {
        @include breakpoint(no-mobile) {
            .swiper-wrapper {
                margin-right: calc(2px - #{$content-margin + $content-padding});

                .dir-rtl & {
                    margin-right: auto;
                    margin-left: calc(2px - #{$content-margin + $content-padding});
                }
            }
        }
    }
}

@media print {
    #g-sidebar {
        background: #fff !important;
        color: #000 !important;
    }
}
