.g-particlesjs {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    z-index: 0;
    pointer-events: none;

    .g-particlesjs-item {
        position: absolute;
        border-radius: 3px;
    }

    @for $i from 1 through 50 {
        @keyframes particle-animation-#{$i} {
            100% {
                transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
            }
        }

        .g-particlesjs-item:nth-child(#{$i}) {
            animation: particle-animation-#{$i} 60s infinite;
            opacity: random(100)/100;
            animation-delay: -$i * .2s;
            transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }
}
