.g-recentreviews {
    position: relative;
    opacity: 0;
    margin: -1.5rem;

    &.visible {
        opacity: 1;
    }

    // Header
    .g-recentreviews-header {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: $content-padding;

        @include breakpoint(mobile-only) {
            margin: 0;
        }

        @include breakpoint(mobile-only) {
            display: block;
        }

        // Title
        .g-recentreviews-title {
            display: block;
            @include responsive-font($responsive-font-size + .5, $core-font-size, false, false);
            & { padding-right: $content-padding; }
            & { font-family: get-font-family($font-family-title); }
            & { font-weight: $font-weight-bold; }

            @include breakpoint(mobile-only) {
                text-align: center;
                padding-right: 0;
            }

            .dir-rtl & {
                padding-left: $content-padding;
                padding-right: 0;
            }
        }

        // Navigation
        .g-recentreviews-nav {
            position: relative;
            flex: 1 0 auto;
            align-self: center;

            i {
                display: none;
                position: absolute;
                top: .8rem;
                left: $content-margin;

                @include breakpoint(mobile-only) {
                    display: block;
                }
            }

            // Mobile menu
            @include breakpoint(mobile-only) {
                min-height: 6rem;
                width: 100%;
            }

            .g-recentreviews-nav-container {
                display: flex;
                justify-content: flex-start; // Mobile menu

                @include breakpoint(mobile-only) {
                    flex-direction: column;
                    width: 75%;
                    padding: 0 0;
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    border: solid 2px $black;
                    border-radius: 5px;
                    background: $white;
                    z-index: 15;
                    margin-top: 1rem;
                }
            }

            // Item
            .g-recentreviews-nav-item {
                padding: $content-margin - .5 $content-padding - .6;
                @include responsive-font($responsive-font-size - 0.2, $core-font-size, false, false);
                & { font-weight: $font-weight-regular; }
                & { position: relative; }
                & { border-radius: 12px; }
                & { text-transform: capitalize; }
                & { cursor: pointer; }

                &.selected {
                    background: $accent-color-1;
                    font-weight: $font-weight-semibold;
                    color: $white;

                    @include breakpoint(mobile-only) {
                        background: none;
                        border-color: transparent;
                        color: $black;
                        display: block;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }

                &:first {
                    padding-left: 0;
                }

                @include breakpoint(mobile-only) {
                    display: none;
                    padding: $content-margin - 0.2 $content-padding + 0.5;
                }

                &.clicked {
                    display: block;
                }
            }
        }
    }

    //Button Wrapper 
    .button-wrapper {
        margin-top: $content-margin *5;
    }

    // Grid Settings
    .g-recentreviews-grid {
        position: relative;
        margin: 0 (-1 * ($content-padding));
        overflow: visible !important;

        @include breakpoint(mobile-only) {
            margin: 0 (-$content-padding);
        }

        // Grid sizing
        .g-recentreviews-grid-item,
        .g-recentreviews-grid-sizer {
            width: 100%;
        }


        // Item & Item content
        .g-recentreviews-grid-item {
            cursor: pointer;
            will-change: auto !important;

            .g-recentreviews-grid-item-wrapper {
                position: relative;
                display: flex;
                align-items: center;
                margin: $content-padding;
                transition: all 0.25s;

                @include breakpoint(mobile-only) {
                    margin: $content-padding;
                    flex-direction: column;
                }

                .g-recentreviews-grid-item-image {
                    position: relative;
                    width: 20%;

                    @include breakpoint(mobile-only) {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        min-height: 1px;
                        transition: all 0.25s;
                    }
                }

            }

            .g-recentreviews-grid-item-content {
                width: 100%;
                left: 0;
                text-align: left;
                z-index: 3;
                padding: $content-padding;
                @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                & { transition: color 0.5s; }

                .dir-rtl & {
                    text-align: right;
                }

                .g-recentreviews-grid-item-title {
                    font-family: get-font-family($font-family-title);
                    font-weight: $font-weight-bold;
                    @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                    & { margin-top: $content-margin - 0.3; }
                    & { line-height: $core-line-height - 0.4; }
                    & { cursor: pointer; }

                    &:hover {
                        text-decoration: underline;
                    }
                }


                // Item Header
                .g-recentreviews-grid-item-header {
                    font-weight: $font-weight-regular;
                    font-size: $core-font-size - 0.2;
                    div {
                        display: inline-block;
                        opacity: 0.6;

                        &.g-recentreviews-grid-item-date {
                            margin-left: $content-margin;

                            .dir-rtl & {
                                margin-left: 0;
                                margin-right: $content-margin;
                            }
                        }
                        &.g-recentreviews-grid-item-category {
                            color: darken($accent-color-1, 40%);
                            opacity: 1;
                            font-weight: $font-weight-medium;
                        }
                    }
                }

                .g-recentreviews-grid-item-author {
                    margin-top: $content-margin;
                    font-size: $core-font-size - 0.2;
                    color: transparentize($base-text-color, 0.40);
                    img {
                        max-width: 24px;
                        border-radius: 100%;
                        margin-right: $content-margin;

                        .dir-rtl & {
                            margin-right: 0;
                            margin-left: $content-margin;
                        }
                    }
                }
        
                .g-recentreviews-grid-item-description {
                    opacity: 0.8;
                    margin-top: ($content-margin + 0.5);
                    @include responsive-font($responsive-font-size - 0.1, $core-font-size, false, false);
                }

            }

            &:hover {
                .g-recentreviews-grid-item-wrapper {
                    .g-recentreviews-grid-item-title {
                        text-decoration: underline;
                        text-decoration-color: inherit;
                    }
                }
            }
        }
    }
}
