.g-swipercarousel-testimonials {

  .g-swipercarousel-item-desc {
    padding: 15px 30px 30px;
    margin: 10px;
  }
  .g-swipercarousel {
    .swiper-pagination {

      bottom: 0;

      .swiper-pagination-bullet {
        display: inline-block;
        padding: 7px;
        margin: 0 3px;
        opacity: 0.5;
        border: 2px solid transparent;
        border-radius: 1em;
        cursor: pointer;
        background: $black;
        transition: opacity 0.2s ease-in;

        &.active {
          background: $black;
          border: 2px solid transparent;
          opacity: 1;
        }

        span {
          display: none;
        }
      }
    }

    .swiper-navigation {
      button.swiper-button-prev, button.swiper-button-next {
          position: absolute;
          display: block;
          width: 40px;
          height: 40px;
          top: 50%;
          margin-top: -20px;
          border-radius: 0;
          border: 0;
          cursor: pointer;
          z-index: 50;
          text-align: center;
          font-size: 24px;
          line-height: 38px;
          opacity: 0.7;
          color: $white;
          background: rgba(0, 0, 0, 0.5);

        &:hover {
          opacity: 1;
          background: rgba(0, 0, 0, 0.5);
        }

        &:focus {
          outline: none;
        }

        span {
          display: none;
        }
      }

      .swiper-button-next {
        right: -20px;
        &:before {
          content: '\f105';
          font-family: FontAwesome;
        }
      }

      .swiper-button-prev {
        left: -20px;
        &:before {
          content: '\f104';
          font-family: FontAwesome;
        }
      }
    }
  }
}
