.g-latestblogs {
    position: relative;
    opacity: 0;


    @include breakpoint(desktop-only) {
        margin: -2.1rem;
    }

    &.visible {
        opacity: 1;
    }

    // Title
    .g-latestblogs-title {
        display: block;
        @include responsive-font($responsive-font-size, $core-font-size, false, false);
        & { color: $base-text-color; }
        & { flex-grow: 1; }
        & { font-weight: $font-weight-light; }
        & { padding-right: $content-padding; }

        @include breakpoint(mobile-only) {
            text-align: center;
            padding-right: 0;
        }

        .dir-rtl & {
            padding-left: $content-padding;
            padding-right: 0;
        }

        // Upper Title
        .g-latestblogs-uppertitle {
            display: block;
            padding-right: $content-padding;
            @include responsive-font($responsive-font-size + 1, $core-font-size, false, false);
            & { font-weight: $font-weight-regular; }

            @include breakpoint(mobile-only) {
                font-size: $core-font-size + 0.5;
                text-align: center;
                padding-right: 0;
            }

            .dir-rtl & {
                padding-left: $content-padding;
                padding-right: 0;
            }
        }
    }

    //Button Wrapper
    .button-wrapper {
        margin-top: $content-margin *3;
    }

    // Grid Settings
    .g-latestblogs-grid {
        position: relative;
        margin: 0 (-1 * ($content-padding));
        overflow: visible !important;

        @include breakpoint(mobile-only) {
            margin: 0 (-$content-padding);
        }

        // Item & Item content
        .g-latestblogs-grid-item {
            a.g-latestblogs-link-overlay {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                top: 0;
            }

            .g-latestblogs-grid-item-wrapper {
                position: relative;
                margin: $content-padding * .5;
                transition: all 0.25s;

                @include breakpoint(mobile-only) {
                    margin: $content-padding;
                }

                .g-latestblogs-grid-item-image {
                    position: relative;

                    img {
                        width: 100%;
                        min-height: 1px;
                        transition: all 0.25s;
                    }
                }

                &.g-latestblogs-layout-text {
                    .g-latestblogs-grid-item-content {
                        margin-top: $content-padding;
                    }
                    cursor: pointer;
                    will-change: auto !important;
                    border-radius: 10px;

                    font-weight: $font-weight-semibold;
                    padding: $content-margin;


                    &.medium {
                        background: $accent-color-1;
                        color: $white;

                        .g-latestblogs-grid-item-date {
                            color: $accent-color-1;
                        }
                    }

                    &.dark {
                        background: $accent-color-1;
                        color: $white;
                    }


                }
            }

            .g-latestblogs-grid-item-content {
                width: 100%;
                left: 0;
                text-align: left;
                z-index: 3;
                @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                & { transition: color 0.5s; }

                .dir-rtl & {
                    text-align: right;
                }
                .g-latestblogs-grid-item-title {
                    font-weight: $font-weight-regular;
                    @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                    & { margin-top: $content-padding; }
                    & { line-height: $core-line-height - 0.4; }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .g-latestblogs-grid-item-description {
                    @include responsive-font($responsive-font-size - 0.1, $core-font-size, false, false);
                    & { color: $base-text-color; }
                }
            }

            &:hover {
                .g-latestblogs-grid-item-wrapper {
                    .g-latestblogs-grid-item-title {
                        text-decoration: underline;
                        text-decoration-color: inherit;
                    }
                }
            }
        }

        // Column layout
        // 2 Columns
        &.cols-2 {

            .g-latestblogs-grid-item,
            .g-latestblogs-grid-sizer {
                width: 50%;

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }

        // 3 Columns
        &.cols-3 {

            .g-latestblogs-grid-item,
            .g-latestblogs-grid-sizer {
                width: 33.3%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }

        // 4 Columns
        &.cols-4 {

            .g-latestblogs-grid-item,
            .g-latestblogs-grid-sizer {
                width: 25%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }

                &.photo-large {
                    width: 50%;

                    @include breakpoint(tablet-range) {
                        width: 50%;
                    }

                    @include breakpoint(mobile-only) {
                        width: 100%;
                    }
                }
            }
        }

        // 5 Columns
        &.cols-5 {

            .g-latestblogs-grid-item,
            .g-latestblogs-grid-sizer {
                width: 20%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }
    }
}
