.g-socialfeed {
    position: relative;

    // Title
    .g-socialfeed-title {
        display: block;
        @include responsive-font($responsive-font-size + 1.2, $core-font-size + 1, false, false);
        & { font-weight: $font-weight-bold; }
        & { padding: $content-padding ($content-padding * 2); }

        @include breakpoint(mobile-only) {
            text-align: center;
            padding-right: 0;
        }

        // Upper Title
        .g-socialfeed-uppertitle {
            display: block;
            padding-right: $content-padding;
            color: transparentize($base-text-color, 0.65);
            @include responsive-font($responsive-font-size - 0.1, $core-font-size - 0.1, false, false);
            & { font-weight: $font-weight-semibold; }
            & { line-height: 1.5; }
            & { letter-spacing: 5px; }
            & { text-transform: uppercase; }

            @include breakpoint(mobile-only) {
                text-align: center;
                padding-right: 0;
            }

            .dir-rtl & {
                padding-left: $content-padding;
                padding-right: 0;
            }
        }
    }

    // Grid Settings
    .g-socialfeed-grid {
        position: relative;
        margin-bottom: -1px;

        // Item & Item content
        .g-socialfeed-grid-item {
            .g-socialfeed-grid-item-wrapper {
                position: relative;
                background: $black;
                transition: all 0.25s;

                .g-socialfeed-grid-item-image {
                    position: relative;
                    transition: .4s ease;

                    img {
                        width: 100%;
                        min-height: 1px;
                        transition: all 0.25s;
                    }

                    &:hover {
                        transform: scale(.85, .85);
                        cursor: pointer;
                    }
                }

            }
        }

        // 4 Columns
        &.cols-4 {
            .g-socialfeed-grid-item,
            .g-socialfeed-grid-sizer {
                width: 25%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }

                &.photo-large {
                    width: 50%;

                    @include breakpoint(tablet-range) {
                        width: 50%;
                    }

                    @include breakpoint(mobile-only) {
                        width: 100%;
                    }
                }
            }
        }

        // 8 Columns
        &.cols-8 {
            .g-socialfeed-grid-item,
            .g-socialfeed-grid-sizer {
                width: 12.5%;

                @include breakpoint(tablet-range) {
                    width: 25%;
                }

                @include breakpoint(mobile-only) {
                    width: 50%;
                }
            }
        }

        // 10 Columns
        &.cols-10 {
            .g-socialfeed-grid-item,
            .g-socialfeed-grid-sizer {
                width: 10%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }
    }
}
