.g-logo {
    color: $base-text-color;
    font-weight: $font-weight-regular;
    font-size: $core-font-size + 2.15;
    font-family: get-font-family($font-family-logo);
    line-height: $core-line-height + 1rem;
    
    @include breakpoint(mobile-only) {
        text-align: center;
        display: block;
        position: relative;
        z-index: 1;
    }

    img {
        .dir-rtl & {
            padding-right: 0;
            padding-left: 1rem;
        }
    }
}
