// Responsive page-container widths. Column sizing is provided exclusively by
// Bootstrap's grid classes.
.container {
	width: $breakpoints-large-desktop-container;
	@include breakpoint(desktop-range) {
		width: $breakpoints-desktop-container;
	}
	@include breakpoint(tablet-range) {
		width: $breakpoints-tablet-container;
	}
	@include breakpoint(large-mobile-range) {
		width: $breakpoints-large-mobile-container;
	}
	@include breakpoint(small-mobile-range) {
		width: $breakpoints-mobile-container;
	}

	&.g-flushed {
		width: 100%;
	}
}
