// Visibility
.visible-large,
.visible-desktop,
.visible-tablet,
.visible-phone,
.col.visible-large,
.col.visible-desktop,
.col.visible-tablet,
.col.visible-phone {
  display: none !important;
}

@include breakpoint(mobile-only) {
  .visible-phone {
    display: block !important;
  }
  .col.visible-phone {
    display: block !important;
  }
}

@include breakpoint(tablet-range) {
  .visible-tablet {
    display: block !important;
  }
  .col.visible-tablet {
    display: block !important;
  }
}

@include breakpoint(desktop-range) {
  .visible-desktop {
    display: block !important;
  }
  .col.visible-desktop {
    display: block !important;
  }
}

@include breakpoint(large-desktop-range) {
  .visible-large {
    display: block !important;
  }
  .col.visible-large {
    display: block !important;
  }
  .visible-desktop {
    display: block !important;
  }
  .col.visible-desktop {
    display: block !important;
  }
}

// Invisibility
@include breakpoint(mobile-only) {
  .hidden-phone {
    display: none !important;
  }
}

@include breakpoint(tablet-range) {
  .hidden-tablet {
    display: none !important;
  }
}

@include breakpoint(desktop-range) {
  .hidden-desktop {
    display: none !important;
  }
}

@include breakpoint(large-desktop-range) {
  .hidden-large {
    display: none !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}

// Alignment
@include breakpoint(mobile-only) {
  .align-right {
    text-align: inherit !important;
  }
  .align-left {
    text-align: inherit !important;
  }
}
