.g-logo {
	font-family: get-font-family($font-family-title);
	font-weight: $font-weight-ultrabold;
	font-size: $core-font-size + 0.75;
	text-transform: uppercase;
	@include breakpoint(mobile-only) {
		display: block;
		text-align: center;
	}
}
