#g-offcanvas {
	background: $offcanvas-background;
	width: $offcanvas-width;
	color: $offcanvas-text-color;

	.g-content {
		margin: $content-margin;
	}

	a {
		&:hover {
			color: $offcanvas-text-color;
		}
	}

	h1, h2, h3, h4, h5, h6, strong {
		color: $offcanvas-text-color;
	}

	.button {
		background: $accent-color-2;
		color: $offcanvas-text-color;
		&:hover {
			background: lighten($accent-color-2, 5%);
		}
		&:active {
			background: darken($accent-color-2, 5%);
		}
	}
}

.g-offcanvas-toggle {
	@if $offcanvas-toggle-visibility == 1 {
		display: none;		
		@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { 
			display: block;
		}
	} @else {
	    display: block;
	}		
	background-color: $offcanvas-toggle-color;
   	font-size: 19px;
	color: $white;
	border-radius: 2px;
	padding: 5px;
	top: 10px;
	left: 10px;
	z-index: 100001;

	.fa-bars {
		font-size: 17px;
		color: $offcanvas-text-color;
	}

	.toggle-fixed & {
		position: fixed;
	}
}

.g-offcanvas-open {
    .g-offcanvas-left {
        #g-page-surround {
            left: $offcanvas-width;
        }
    }
    .g-offcanvas-right {
        #g-page-surround {
            right: $offcanvas-width;
        }
    }
	.dir-rtl {
	    &.g-offcanvas-left {
	        #g-offcanvas {
	            right : auto;
	        }
	    }
	    &.g-offcanvas-right {
	        #g-offcanvas {
	            left : auto;
	        }
		}
	}
	.scrollheader {
		padding-top: 0 !important;
	}
}

// Mobile Menu
#g-offcanvas {
	#g-mobilemenu-container {
		ul {
			background: $offcanvas-background;
			> li {
				> .g-menu-item-container {
					color: $offcanvas-text-color;
					padding: $content-padding;
				}
				&:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
					&.active, &:hover {
						> .g-menu-item-container {
							color: $white;
						}
					}
					&.active {
						background: darken($accent-color-1, 5%);
					}
					&:hover {
						background: darken($accent-color-1, 5%);
					}
				}
			}
			.g-dropdown-column {
				width: $offcanvas-width;
			}
		}
	}
}

#g-mobilemenu-container {
	margin: -($content-padding + $content-margin);
}

// Preset Thumbnails
.g-preset-thumbnails {
	img {
		margin-bottom: 1rem;
	}
	@include breakpoint(mobile-only) {
		text-align: center;
		.g-block {
			flex: 0 0 auto;
			width: 50% !important;
		}
		.g-content {
			margin: 0;
		}
	}	
}
