#g-footer {
	background: $footer-background;
	color: $footer-text-color;

	// Container
	.g-container {
		padding: 2rem 0 1.5rem 0;
	}

	// Demo Footer Menu
	.demo-footer-menu {
		&.g-horizontalmenu {
			margin-top: 0.5rem;
			margin-left: -1rem;
			margin-right: -1rem;
			text-align: center;
			li {
				a {
					font-family: get-font-family($font-family-title);
					text-transform: uppercase;	
					color: $footer-text-color;
					&:hover {
						color: lighten($footer-text-color, 50%);
					}				
				}
				&:before,
				&:after {
					display: none;
				}
				@include breakpoint(tablet-range) {
					font-size: $core-font-size - 0.1;
					margin: 0 0.35rem;
				}
				@include breakpoint(small-mobile-range) {
					font-size: $core-font-size - 0.2;
					margin: 0 0.25rem;
				}
			}	
			@include breakpoint(mobile-only) {
				text-align: center;
			}					
		}
	}

	// Social Buttons
	.g-social {
		text-align: right;
		.dir-rtl & {
			text-align: left;
		}
		@include breakpoint(mobile-only) {
			text-align: center;
		}		
		a {
			margin: 0 1rem;
			color: $footer-text-color;
			&:hover {
				color: $accent-color-1;
			}
			@include breakpoint(tablet-range) {
				margin: 0 0.5rem;
			}			
		}
		span {
			font-size: $core-font-size + 0.5;
		}
	}


	// Info List - Grid Menu
	.g-infolist {
		&.g-gridmenu {
			margin-top: 1rem;
			.g-infolist-item {
				border-bottom: none;
				margin: 0 !important;
				padding: 0 0 $content-padding/2 0;
			}
			.g-infolist-item-title {
				font-size: $core-font-size - 0.1;
				text-transform: uppercase;
				@include breakpoint(desktop-range) {
					font-size: $core-font-size - 0.1;
				}
				@include breakpoint(tablet-range) {
					font-size: $core-font-size - 0.2;
				}		
				@include breakpoint(mobile-only) {
					font-size: $core-font-size - 0.1;
				}					
				a {
					font-weight: normal;
				}					
			}
			.g-infolist-item-text {
				padding: 0;
			}
			&.g-2cols {
				.g-infolist-item {
					@include breakpoint(mobile-only) {
						width: 47% !important;
					}						
				}
			}
		}
	}

	// About
	.g-about {
		p {
			margin-top: 0.85rem;
			font-size: $core-font-size - 0.1;
		}		
	}

	// Contact
	.g-contact {
		&.g-office-hours {
			.g-contact-item {
				@include breakpoint(tablet-range) {
					padding-left: 0;
					padding-right: 0;
				}				
			}
			.g-contact-icon {
				@include breakpoint(tablet-range) {
					display: none;
				}				
			}
		}
	}

	// Sample Sitemap
	.g-sample-sitemap {
		@include breakpoint(mobile-only) {
			.g-block {
				flex: 0 0 auto;
				width: 50% !important;
			}
		}
		li a {
			@include breakpoint(tablet-range) {
				font-size: $core-font-size - 0.2;
			}
		}			
	}
}

@media print {
	#g-footer {
		background: #fff !important;
		color: #000 !important;
	}
}
