.g-contenttabs {
    .g-contenttabs-tab-wrapper-container {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0 1rem 0;
        padding: 0;
    }

    .g-contenttabs-tab-wrapper {
        list-style: none;
        padding: 0;
        outline: none;

        &.ui-tabs-active {
            .g-contenttabs-tab {
                cursor: text;
            }
        }
    }

    .g-contenttabs-tab {
        outline: none;
        text-decoration: none;
    }

    .g-contenttabs-tab-wrapper-head {
        a {
            color: $main-text-color;
        }

        .g-contenttabs-tab-title {
            display: block;
            border: none;
            border-radius: $border-radius;
            font-family: get-font-family($font-family-title);
            font-weight: $font-weight-bold;
            font-size: $core-font-size - 0.2;
            margin: 0;
            padding: 0.25rem 0.75rem;
            text-transform: uppercase;
            line-height: normal;

            &:hover, &:focus {
                background: darken($base-background, 8%);
            }
        }
    }

    .g-contenttabs-content-wrapper-container {
        list-style: none;
        margin: 0;
        padding: 0 0 $content-padding;

        .g-contenttabs-tab-wrapper-body {
            padding: 0;

            .g-contenttabs-content {
                display: flex;
                flex-flow: row wrap;
                flex-wrap: wrap;

                &[hidden] {
                    display: none;
                }
            }
        }
    }
}

.ui-tabs-active {
    .g-contenttabs-tab-wrapper-head {
        .g-contenttabs-tab-title {
            color: lighten($base-text-color, 10%);
            background: darken($base-background, 10%);
        }
    }

    .g-contenttabs-tab-title {
        color: $white;
    }
}
