#g-slideshow {
    background: $slideshow-background;
    color: $slideshow-text-color;
    margin-top: -142px;
    border-bottom: 5px solid $accent-color-1;
    // Container
    .g-container {
    	width: 100%;
    }
    // RokSprocket Features
	.sprocket-features, .g-owlcarousel-feature-slider {
		&.layout-slideshow, [id^="g-owlcarousel-featuresslider-"] {
			.sprocket-features-img-container, .g-owlcarousel-item-image {
				height: 70vh;
				@include breakpoint(mobile-only) {
					height: 450px;
				}
				@include breakpoint(desktop-range) {
					height: 500px;
				}
			}
			.sprocket-features-title, .g-owlcarousel-item-title {
				padding-top: 50vh;
				@include breakpoint(desktop-range) {
					padding-top: 320px;
				}
				@include breakpoint(mobile-only) {
					padding-top: 280px;
					width: 60%;
					font-size: 1.35rem;
					line-height: 1.25;
				}
			}
			.sprocket-features-arrows .arrow, .owl-nav .owl-prev, .owl-nav .owl-next {
				background: transparent;
				top: 50vh;
				@include breakpoint(desktop-range) {
					top: 320px;
				}
				@include breakpoint(mobile-only) {
					top: 280px;
				}
			}
		}
	}
}

@media print {
	#g-slideshow {
		background: #fff !important;
		color: #000 !important;
	}
}
