#g-feature, .g-wrapper {
    .g-container {
        background: $feature-background;
        color: $feature-text-color;
    }
}

@media print {
	#g-feature {
		background: #fff !important;
		color: #000 !important;
	}
}
