#g-footer {
	background: $footer-background;
	color: $footer-text-color;
    h1, h2, h3, h4, h5,
    .promo, .title {
		color: invert($footer-background);
    }
}

@media print {
	#g-footer {
		background: #fff !important;
		color: #000 !important;
	}
}
