.g-logo {
    font-weight: $font-weight-medium;
    @include responsive-font($responsive-font-size + 0.6, $core-font-size + 0.2, false, false);
    box-shadow: none !important;

    @include breakpoint(mobile-only) {
        text-align: center;
        display: block;
        position: relative;
        z-index: 1;
    }

    span {
        color: $accent-color-1;
    }

    img {
        .dir-rtl & {
            padding-right: 0;
            padding-left: 1rem;
        }
    }
}
