.g-swipercarousel-slideshow {
	.g-swipercarousel {
		position: relative;

		.active .bg-image-container .g-swipercarousel-content {
			animation-duration: 800ms;
			animation-fill-mode: both;
			transform: translateZ(0);
			backface-visibility: hidden;
		}

		.bg-image-container {
			min-height: 680px;

			@include breakpoint(desktop-range) {
				min-height: 630px;
			}

			@include breakpoint(mobile-only) {
				min-height: 630px;
			}

			.container {
				position: relative;
				width: $breakpoints-large-desktop-container;
				@include breakpoint(desktop-range) {
					width: $breakpoints-desktop-container;
				}
				@include breakpoint(tablet-range) {
					width: $breakpoints-tablet-container;
				}
				@include breakpoint(large-mobile-range) {
					width: $breakpoints-large-mobile-container;
				}
				@include breakpoint(small-mobile-range) {
					width: $breakpoints-mobile-container;
				}
			}

			.g-swipercarousel-content {
				position: absolute;
				top: 150px;
			left: 20px;
			width: 100%;

			@include breakpoint(mobile-only) {
				position: relative;
				left: 0;
				top: 25px;
				width: 80%;
				margin: 0 auto;
				overflow: hidden;
			}
		}
	    }

		.g-swipercarousel-image-container {
			&.bottom, &.top {
				width: 96%;

				@include breakpoint(mobile-only) {
					width: 100%;
				}
			}
			&.left, &.right {
				width: 47%;
				float: left;

				@include breakpoint(mobile-only) {
					width: 100%;
					float: none;
					text-align: center;
					margin: 0 auto;
				}
			}

		img {
			width: auto;
			display: inline-block;

			@include breakpoint(mobile-only) {
				display: block;
			}

			.fp-showcase & {
				margin: 25px 0;

				@include breakpoint (mobile-only) {
					margin: 0;
				}
			}
		}
	}

		.g-swipercarousel-text {
			&.bottom, &.top {
				width: 96%;

				@include breakpoint(mobile-only) {
					width: 100%;
				}
			}
			&.left, &.right {
			    width: 47%;
			    float: left;

			    @include breakpoint(mobile-only) {
					width: 100%;
					float: none;
					text-align: center !important;
				}
			}

		    .g-swipercarousel-item-title {
				font-family: get-font-family($font-family-bold);
				text-transform: uppercase;
				font-size: 2.8em;
				letter-spacing: -1px;
				line-height: 1.1em;
			    margin-bottom: 25px;

			    @include breakpoint(desktop-range) {
				font-size: 2em;
				line-height: 135%;
			    }

			    @include breakpoint(tablet-range) {
					font-size: 125%;
				line-height: 125%;
			    }

			    @include breakpoint(large-mobile-range) {
				font-size: 120%;
				line-height: 120%;
			    }

			    @include breakpoint(small-mobile-range) {
				font-size: 110%;
				line-height: 110%;
			    }
		    }

		    .g-swipercarousel-item-desc {
			margin-top: 20px;
			line-height: 27px;
		    }

		    .g-swipercarousel-item-button {
			margin: 15px 0;
		    }
		}

		.swiper-pagination {
			bottom: 15px;
			left: 50%;
			text-align: left;
			margin-left: -40px;

			button {
				opacity: 1;
				padding: 0;
				transition: opacity 0.2s ease-in;

				.hexagon & {
					border-radius: 0;
					@include hexagon(16px, 10px, $dark-grey);

					&.active {
						@include hexagon(16px, 10px, $accent-color-1);
					}

					&.swiper-pagination-bullet {
						margin: 0 6px;
					}
				}

				background-color: $dark-grey;

				&.active {
					background-color: $accent-color-1;

					&:hover {
						background-color: $accent-color-1;
					}
				}

				&:hover {
					background-color: $dark-grey;
				}
			}
		}

	    .swiper-navigation {
	      button.swiper-button-prev, button.swiper-button-next {
		background: $dark-grey;
		line-height: 38px;
			color: $accent-color-1;
			margin-top: -12px !important;
			opacity: 0.7;
			position: absolute !important;
			border: 0;
			transition: all 0.2s ease-in-out;

			.hexagon & {
				border-radius: 0;
				@include hexagon(48px, 30px, $dark-grey);
				line-height: $base-line-height + 1 !important;
			}

			@include breakpoint(small-mobile-range) {
				display: none;
			}

			&:hover {
				opacity: 1;
			}

	        &:focus {
	          outline: none;
	        }

	        span {
		font-size: 2.5rem;
	        }
	      }

	      .swiper-button-next {
	        .fp-showcase & {
		right: 15px;
	        }
	      }

	      .swiper-button-prev {
	        .fp-showcase & {
		left: 15px;
	        }
	      }
	    }
	}
}
