.g-simplecontent {
    h2.g-title {
        padding: 0 0.6rem;
        margin: 0;
        display: inline-block;
        color: $base-text-color;
        @include responsive-font($responsive-font-size, $core-font-size, false, false);
        & { font-weight: $font-weight-semibold; }
        & { letter-spacing: 5px; }
        & { border-radius: $border-radius; }
        & { text-align: center; }
        & { text-transform: uppercase; }
    }

    .g-simplecontent-item-created-date {
        font-size: $core-font-size - 0.2;
        text-transform: uppercase;
    }

    .g-simplecontent-item-content-title {
        @include responsive-font($responsive-font-size + 0.2, $core-font-size + 0.2, false, false);
        & { margin: ($content-margin - 0.1) 0; }
        & { font-weight: $font-weight-semibold; }
        & { line-height: $core-line-height - 0.5; }
    }

    .g-simplecontent-item-author {
        font-size: $core-font-size - 0.1;
        font-weight: $font-weight-bold;
        margin-bottom: $content-margin;
    }

    .g-simplecontent-item-leading-content {
        @extend .g-lead;
        margin-bottom: $content-margin;
        font-weight: $font-weight-regular;
        @include responsive-font($responsive-font-size, $core-font-size, false, false);

        .g-simplecontent-link {
            display: block;
            color: $white;
            &:hover {
                text-decoration: underline;
                opacity: .7;
            }

        }
    }

    .g-simplecontent-item-main-content {
        @include responsive-font($responsive-font-size + 0.3, $core-font-size, false, false);
        & { margin: ($content-margin + $content-padding) 0; }
    }

    .g-simplecontent-item-readmore-container {
        font-weight: $font-weight-semibold;
    }
}
