//-------------------------------------------//

// SWIPER CAROUSEL ORIGINAL STYLING

/*
*  Swiper Carousel - Animate Plugin
*/
.swiper .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.swiper .swiper-animated-in {
    z-index: 0;
}

.swiper .swiper-animated-out {
    z-index: 1;
}

.swiper .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
*  Swiper Carousel - Auto Height Plugin
*/
.swiper-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

/*
*  Core Swiper Carousel CSS File
*/
.swiper {
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.swiper .swiper-wrapper {
    position: relative;
    -ms-touch-action: pan-Y;
}

.swiper .swiper-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.swiper .swiper {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.swiper .swiper-controls .swiper-navigation .swiper-button-prev,
.swiper .swiper-controls .swiper-navigation .swiper-button-next,
.swiper .swiper-controls .swiper-pagination-bullet {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swiper.swiper-initialized {
    display: block;
}

.swiper.swiper-loading {
    opacity: 0;
    display: block;
}

.swiper.swiper-hidden {
    opacity: 0;
}

.swiper .swiper-refresh .swiper-slide {
    display: none;
}

.swiper .swiper-slide {
    position: relative;
    min-height: 1px;

    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.swiper .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.swiper.swiper-text-select-on .swiper-slide {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.swiper .swiper-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.swiper.swiper-rtl {
    direction: rtl;
}

.swiper.swiper-rtl .swiper-slide {

}

/* No Js */
.no-js .swiper {
    display: block;
}

/*
*  Swiper Carousel - Lazy Load Plugin
*/
.swiper .swiper-slide .swiper-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.swiper .swiper-slide img {
    transform-style: preserve-3d;
}

/*
*  Swiper Carousel - Video Plugin
*/
.swiper .swiper-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.swiper .swiper-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("swiper.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
}

.swiper .swiper-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3);
}

.swiper .swiper-video-playing .swiper-video-tn,
.swiper .swiper-video-playing .swiper-video-play-icon {
    display: none;
}

.swiper .swiper-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.swiper .swiper-video-frame {
    position: relative;
    z-index: 1;
}

/*
*  Swiper Carousel - Nav & Dots
*/
.swiper-navigation {
    opacity: 1;
    transition: opacity 0.25s;

    div, button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;
        outline: none;
        width: 40px;
        height: 40px;
        display: inline-block;
        opacity: 1;
        color: $white;
        text-transform: uppercase;
        font-size: $core-font-size + 1;
        font-weight: $font-weight-bold;
        transition: all 0.25s;

        &:hover {
            color: $accent-color-1;
        }

        @include breakpoint(small-mobile-range) {
            position: relative;
        }

        &.swiper-button-prev {
            margin-right: $content-padding * 5;

            @include breakpoint(small-mobile-range) {
                margin-right: $content-padding * 2;
            }
        }

        .dir-rtl & {
            left: 0;
            right: auto;

            &.swiper-button-next {
                margin-left: $content-padding * 5;

                @include breakpoint(small-mobile-range) {
                    margin-left: $content-padding * 2;
                }
            }
        }
    }
    &.disabled {
        display: none;
    }
}

.swiper-controls {
    @include breakpoint(small-mobile-range) {
        text-align: center;
    }
}

.swiper-pagination {
    .swiper-pagination-bullet {
        display: inline-block;
        background: transparentize($white, 0.50);
        width: 15px;
        height: 15px;
        padding: 0;
        outline: none;
        border-radius: 100%;
        margin: 0 0.1rem;
        background: transparent;
        border: 2px solid $white;
        transition: all 0.2s ease-out;

        &.active {
            background: $white;
        }
    }
}

.swipercarousel-offset {
    margin-right: -45px !important;
    margin-bottom: -45px !important;
    margin-left: -45px !important;

    @include breakpoint(mobile-only) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    & { position: relative; }
    & { z-index: 2; }

    &.size-100 {
        flex-basis: auto;
        width: auto;
    }
}

.g-swipercarousel-description {
    font-family: get-font-family($font-family-default);
    font-size: $core-font-size + 0.25;
    font-weight: $font-weight-regular;
}
.g-swipercarousel-header {
    padding: $content-padding !important;
    margin: $content-margin;
}

// LAYOUTS ---------------------------------------------------//

// Standard Layout
.g-swipercarousel-layout-standard {
    .swiper {
        border-radius: $border-radius;
    }

    .g-swipercarousel-header {
        margin: $content-margin;
        padding-bottom: 0.1rem !important;
    }

    .g-title {
        color: $accent-color-1;
        padding: 0;
    }

    .swiper-slide {
        > div, > button {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 $border-radius $border-radius;

            .image {
                img {
                    border-radius: $border-radius;
                }
                &:before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(138deg, rgba(0,0,0,0.0) 50%, transparentize($accent-color-2, 0.50) 50%);
                    z-index: 1;
                    pointer-events: none;
                    content: '';
                    left: 0;
                }
            }
            .g-swipercarousel-content {
                position: absolute;
                top: 25%;
                left: 10%;
                width: 80%;
                z-index: 1;
                @include breakpoint(tablet-range) {
                    top: 40%;
                    left: 1%;
                }
                @include breakpoint(mobile-only) {
                    top: 53%;
                    left: auto;
                    width: 100%;
                    text-align: center;
                }
                @include breakpoint(small-mobile-range) {
                    display: none;
                }
                & { margin: 0 $content-margin; }
                & { padding: 0 $content-margin; }
            }

            .g-swipercarousel-item-title {
                position: relative;
                text-transform: none;
                font-size: 4.4vw;
                @include breakpoint(tablet-range) {
                    font-size: $core-font-size + 2.5;
                }
                @include breakpoint(mobile-only) {
                    font-size: $core-font-size + 1;
                }
                & { font-weight: $font-weight-light; }
                & { line-height: $core-line-height - 0.4; }
                & { margin: 0; }
                & { margin-left: -8px; }
                & { padding-bottom: 1.2rem; }

                strong {
                    font-family: get-font-family($font-family-subpromo);
                    text-transform: lowercase;
                    font-style: italic;
                    font-weight: $font-weight-regular;
                }
            }

            .g-swipercarousel-item-subtitle {
                font-family: get-font-family($font-family-default);
                font-weight: $font-weight-regular;
                font-size: $core-font-size - 0.2;
                color: $base-background;
                text-transform: uppercase;
                display: block;
            }

            .g-swipercarousel-author {
                padding-top: 10px;

                .author-image {
                    display: inline-block;
                    line-height: 1.5rem;
                    margin-right: 10px;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                    }
                }

                .author-name {
                    display: inline-block;
                    font-family: get-font-family($font-family-default);
                    font-weight: $font-weight-regular;
                    color: $base-background;
                    line-height: 25px;
                    vertical-align: top;

                }
            }

            .g-swipercarousel-item-desc {
                padding-bottom: 0.5rem;
                font-size: $core-font-size + 0.5;
                color: $base-background;
            }

            .g-swipercarousel-item-link {
                .g-swipercarousel-item-button {
                    padding: 0.3rem 0;

                    &:hover {
                        color: $accent-color-1;
                    }
                }
            }
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: $content-margin + $content-padding;
    }

    .swiper-navigation {
        div, button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: inline-block;
            height: 60px;
            width: 60px;
            line-height: 60px;
            font-size: 1.5rem;
            color:  $base-background;
            text-align: center;
            margin: auto;
            border-radius: 50%;
            border: 2px solid $base-background;

            $swiper-navigation-position: 2rem;

            &.swiper-button-prev {
                left: $swiper-navigation-position;
                right: auto;

                .fa {
                    padding-right: 3px;
                }

                &:hover {
                    color: $accent-color-2;
                    border-color: $accent-color-2;
                }

                .rtl & {
                    right: $swiper-navigation-position;
                    left: auto;
                }
            }

            &.swiper-button-next {
                right: $swiper-navigation-position;
                left: auto;

                .fa {
                    padding-left: 3px;
                }

                &:hover {
                    color: $accent-color-2;
                    border-color: $accent-color-2;
                }

                .rtl & {
                    left: $swiper-navigation-position;
                    right: auto;
                }
            }
        }
    }
}

// THEME PARTICLES STYLING
.g-swipercarousel {
    &:hover {
        .swiper-navigation {
            opacity: 1;
        }
    }
}

.g-swipercarousel-item-wrapper {
    position: relative;
}

.g-swipercarousel-item-img {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.g-swipercarousel-item-content-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-style: preserve-3d;

    @include breakpoint(large-desktop-range) {
        width: $breakpoints-large-desktop-container;
    }

    @include breakpoint(desktop-range) {
        width: $breakpoints-desktop-container;
    }

    @include breakpoint(tablet-range) {
        width: $breakpoints-tablet-container;
    }

    @include breakpoint(large-mobile-range) {
        width: $breakpoints-large-mobile-container;
    }

    @include breakpoint(small-mobile-range) {
        width: 100%;
    }
}

.g-swipercarousel-item-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.g-swipercarousel-item-content {
    margin: $content-margin;
    padding: $content-padding;

    .g-swipercarousel-fullwidth & {
        width: 100%;
    }

    .g-swipercarousel-compact & {
        width: 50%;

        .center-block & {
            margin: auto;
        }

        @include breakpoint(desktop-range) {
            width: 65%;
        }

        @include breakpoint(tablet-range) {
            width: 75%;
        }

        @include breakpoint(mobile-only) {
            width: 100%;
        }
    }
}

.g-swipercarousel-item-title {
    font-family: get-font-family($font-family-default);
    font-size: $core-font-size + 2;
    color: $white;
    padding-bottom: $content-padding - 0.4;
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;
    margin: $content-margin + $content-padding;
}

.g-swipercarousel-item-desc {
    font-size: $core-font-size + 0.4;
    line-height: $core-line-height;
    font-weight: $font-weight-light;
    padding-bottom: $content-padding * 2;
    margin-bottom: $content-margin;

    @include breakpoint(mobile-only) {
        display: none;
    }
}

.g-swipercarousel-item-button {
    @include breakpoint(small-mobile-range) {
        padding: 0.25rem 1rem;
        font-weight: $font-weight-regular;
        font-size: $core-font-size - 0.2;
    }
}

// Testimonial Layout
.g-swipercarousel-layout-testimonial {
    padding: $content-padding + 2 0;
    .g-title {
        text-align: center;
        font-family: get-font-family($font-family-promo);
        font-size: $core-font-size - 0.34;
        font-weight: $font-weight-bold;
        opacity: 0.5;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .g-swipercarousel-item-desc {
        font-family: get-font-family($font-family-subpromo);
        font-weight: $font-weight-regular;
        font-style: italic;

        @include breakpoint(mobile-only) {
            display: block;
            padding-top: 2rem;
        }

        & { text-align: center; }
        & { -webkit-transform: translate3d(0, 0, 0); }
        & { padding: $content-padding; }
        & { margin: $content-margin; }
        & { font-size: $core-font-size + 1.3; }
        @include breakpoint(mobile-only) {
            font-size: $core-font-size + 0.5;
            padding: $content-padding 0;
        }
        @include breakpoint(tablet-range) {
            font-size: $core-font-size + 0.9;
        }

        & { line-height: $core-line-height - 0.5; }

        i {
            display: block;
            font-size: $core-font-size + 1;
            padding: $content-padding;
            margin: $content-margin;
        }

        .g-swipercarousel-item-title {
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-style: normal;
            position: relative;
            opacity: 0.5;
            text-transform: none;
            font-size: $core-font-size;
            margin-top: $content-margin;
        }
    }

    .g-swipercarousel-author {
        padding-bottom: $content-padding;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(small-mobile-range) {
            display: block;
            text-align: center;
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            padding: 0;
            margin-right: $content-margin;
            .dir-rtl & {
                margin-right: 0;
                margin-left: $content-margin;
            }
            @include breakpoint(small-mobile-range) {
                margin: 0 auto;
                margin-bottom: $content-margin;
            }
        }
        .author-name {
            line-height: $core-line-height - 0.5;
            font-size: $core-font-size + 0.5;
            span {
                font-size: $core-font-size;
                opacity: 0.5;
            }
        }
    }

    .swiper-pagination {
        margin: $content-margin 0;
        text-align: center;
        vertical-align: middle;

        .swiper-pagination-bullet {
            vertical-align: middle;
            border-radius: 100%;
            margin: 0 0.3rem;
            background: transparent;
            border: 2px solid $white;
            transition: all 0.2s ease-out;

            &.active {
                background: $white;
            }
        }
    }

    .swiper-navigation {
        margin: $content-margin 0;
        text-align: center;

        div, button {
            position: relative;

            &.swiper-button-prev {
                margin-right: $content-padding;
            }
        }
    }
}

// NewsSlider Layout
.g-swipercarousel-layout-newsslider {
    left: inherit;
    width: 100%;
    display: flex;
    @include breakpoint(mobile-only) {
        flex-flow: row wrap;
        flex-wrap: wrap;
    }

    .g-title {
        text-align: center;
        opacity: 0.5;
        padding-bottom: 0;
    }
    .g-item-title {
        color: $accent-color-1;
        font-weight: $font-weight-regular;
        font-size: $core-font-size + 0.6;

        @include breakpoint(mobile-only){
            font-size: $core-font-size + 0.3;
        }
    }
    .swiper {
        flex: 0 0 auto;
        width: 70%;
        @include breakpoint(mobile-only) {
            width: 100%;
        }
        & { background: $white; }
        & { border: 2px solid darken($base-background, 10%); }
        & { padding: $content-padding; }
        & { border-radius: $border-radius; }

        .swiper-slide {
            img {
                padding-right: $content-padding;
                .dir-rtl & {
                    padding-right: 0;
                    padding-left: $content-padding;
                }
                width: auto;

                .dir-rtl & {

                }
                @include breakpoint(tablet-range) {
                    float: none;
                    width: 100%;
                    padding-right: 0;
                    padding-bottom: $content-padding;
                }
                @include breakpoint(mobile-only) {
                    float: none;
                    width: 100%;
                    padding-right: 0;
                    padding-bottom: $content-padding;
                }
            }
            .g-swipercarousel-author {
                padding-bottom: $content-padding;
                display: flex;
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    padding: 0;
                    margin-right: $content-margin;
                    .dir-rtl & {
                        margin-right: 0;
                        margin-left: $content-margin;
                    }
                }
                .author-name {
                    font-family: get-font-family($font-family-default);
                    font-weight: $font-weight-regular;
                }
            }
            .item {
                display: block;
            }
        }
    }
    .g-swipercarousel-panel-container {
        flex: 0 0 auto;
        width: 30%;
        @include breakpoint(mobile-only) {
            width: 100%;
        }
        & { height: 100%; }
        & { background: $base-background; }
        & { padding: 0; }
        & { border-radius: $border-radius 0 0 $border-radius; }
        .dir-rtl & {
            border-radius: 0 $border-radius $border-radius 0;
        }
        @include breakpoint(mobile-only) {
            border-radius: $border-radius $border-radius 0  0;
        }

        .g-swipercarousel-panel {
            margin-bottom: 0;
            vertical-align: middle;
            transition: box-shadow 0.4s ease-out;
            border: 2px solid darken($base-background, 10%);
            margin-bottom: -2px;
            border-right: 0 none;
            .dir-rtl & {
                border-right: 2px solid darken($base-background, 10%);
                border-left: 0 none;
            }
            position: relative;
            a {
                padding: $content-padding - 1 $content-padding - 1 $content-padding - 1 $content-padding + 1;

                .dir-rtl & {
                    padding: $content-padding - 1 $content-padding + 1 $content-padding - 1 $content-padding - 1;
                }
            }
            i {
                padding-right: $content-padding - 0.5;
                .dir-rtl & {
                    padding-right: 0;
                    padding-left: $content-padding - 0.5;
                }
                font-size: $core-font-size + 0.5;
                opacity: 0.3;
                position: absolute;
                top: 0.4rem;
                line-height: $core-line-height;
            }
            i + .g-swipercarousel-panel-title  {
                margin-left: 3rem;
                .dir-rtl & {
                    margin-left: 0;
                    margin-right: 3rem;
                }
            }
            &.selected {
                background: darken($base-background, 3%);
                &:after {
                    display: none;
                }
                .g-swipercarousel-panel-title {
                    color: $accent-color-2;
                }
                i {
                    opacity: 1;
                    color: $accent-color-2;
                }
            }
            .g-swipercarousel-panel-title {
                margin: 0;
                font-size: $core-font-size;
                color: $base-text-color;
            }
        }
    }
}

// Showcase Layout
.g-swipercarousel-layout-showcase {
    position: relative;
    background: $base-background;
    display: block;
    .g-title {
        color: $base-text-color;
        font-family: get-font-family($font-family-promo);
        font-weight: $font-weight-bold;
        font-size: $core-font-size;
        text-transform: uppercase;
        letter-spacing: 10px;
        opacity: 0.3;
        text-align: center;
        padding: $content-padding - 0.5 0;
        margin: 0;
    }

    .swiper-initialized {
        .swiper-navigation {
            display: none;
        }
    }

    .swiper-navigation {
        padding-top: $content-padding;
        div, button {
            position: relative;
            cursor: pointer;
            font-size: 1.2rem;
            color: $base-text-color;
            opacity: 0.3;
            line-height: 40px;
            border-radius: 2px 2px 0 0;
            &.swiper-button-prev, &.swiper-button-next {
                margin: 0;
            }
            &:hover {
                background-color: $accent-color-2;
                color: $white;
                opacity: 1;
                box-shadow: inset 0px -5px 15px rgba(0, 0, 0, 0.1);
            }
        }
    }
    .swiper-controls {
        width: 100%;
        text-align: center;
    }
    .g-swipercarousel-panel-container {
        padding: 0;
        margin: 0;

        .g-swipercarousel-panel {
            padding: $content-padding - 0.5 0;
            margin: 0;
            &.selected {
                box-shadow: 2px 0px 65px rgba(0, 0, 0, 0.15);
                border-left: 2px solid $accent-color-2;
            }
        }
    }
}

.g-swipercarousel-panel-container {
    margin-top: $content-margin + $content-padding;

    .g-swipercarousel-panel {
        display: block;
        cursor: pointer;
        margin-bottom: 1.5rem;

        span {
            display: block;
            margin: 0 1rem;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .g-swipercarousel-panel-title {
            color: $accent-color-2;
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-size: $core-font-size;
            line-height: $core-line-height - 0.3;
            margin-bottom: $content-margin;
        }

        .g-swipercarousel-panel-subtitle {
            color: $accent-color-1;
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-size: $core-font-size + 0.1;

            @include breakpoint(desktop-range) {
                font-size: $core-font-size;
            }
        }

        .g-swipercarousel-panel-desc {
            color: $accent-color-1;
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-size: $core-font-size + 0.1;
        }
    }
}

