#g-extension {
    .container {
        background: $extension-background;
        color: $extension-text-color;        
    }
}

@media print {
	#g-extension {
		background: #fff !important;
		color: #000 !important;
	}
}
