.g-offline {
	#g-header {
		.genesis-content {
			padding: 3.5rem $content-padding;
			@include breakpoint(large-mobile-range) {
				padding: 1.5rem $content-padding;
			}				
			@include breakpoint(small-mobile-range) {
				padding: 1rem $content-padding;
			}			
		}
		.g-infolist-textstyle-header {
			.g-infolist-item-title {
				font-weight: $font-weight-regular;
				text-transform: none;
				font-size: 3.5rem;
				line-height: 5rem;
				@include breakpoint(large-mobile-range) {
					line-height: 4rem;
				}				
				@include breakpoint(small-mobile-range) {
					font-size: 2rem;
					line-height: 3rem;
				}				
			}
			.g-infolist-item-desc {
				font-weight: $font-weight-regular;
				@include breakpoint(small-mobile-range) {
					font-size: 1rem;
					line-height: 1.5rem;
				}				
			}
		}	
	}
	#g-extension {
		.g-blockcontent-headline {
	        margin: 0;
	        padding: 0;
	        font-family: get-font-family($font-family-title);
			font-weight: $font-weight-regular;
			text-transform: none;
			font-size: 3.5rem;
			line-height: 5rem;
			@include breakpoint(large-mobile-range) {
				line-height: 4rem;
			}			
			@include breakpoint(small-mobile-range) {
				font-size: 2rem;
				line-height: 3rem;
			}			
		}
		.g-blockcontent-description {
	        font-size: $h5-font-size;
	        line-height: 2rem;
	        opacity: 0.8;
	        padding: 0;
	        text-rendering: optimizeLegibility;
	        font-family: get-font-family($font-family-default);
	        font-weight: $font-weight-regular;
	        margin: 0;    
			@include breakpoint(small-mobile-range) {
				font-size: 1rem;
				line-height: 1.5rem;
			}				
		}
		.button {
			margin-top: 1rem;
		}
	}
	#g-copyright {
		@include breakpoint(mobile-only) {
			.genesis-content {
				text-align: center;
				padding-bottom: 0;
			}
		}		
	}

	#form-login {
		#submit-buton {
			label {
				display: none;
			}
		}
		input {
			border-radius: 30px;
		}		
		.button {
			display: inline-block;
			font-family: get-font-family($font-family-title);
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			background: $accent-color-1;
			color: $white !important;
			font-size: $core-font-size;
			border: 2px solid transparent;
			border-radius: 30px !important;
			margin: 0 0 0.5rem 0;
			padding: 0.5rem 1.5rem;
			vertical-align: middle;
			text-shadow: none;
			transition: all 0.2s;
			&:hover, &:active, &:focus {
				background: darken($accent-color-1, 10%);
				color: $white !important;
			}
		}
	}
    #grav-login {
        max-width: 32rem; 
        .form-actions {
            margin-top: $content-margin;
            @include breakpoint(mobile-only) {
                text-align: center;
            }
        }
        .button {
            text-transform: capitalize;
        }
        .rememberme { 
            @include breakpoint(mobile-only) {
                float: none;
                display: block;
            }
        }
    } 	
}
