.g-flippingcontent {
    .g-flippingcontent-item-title {
        display: block;
        text-transform: uppercase;
    }
    .g-flippingcontent-item-subtitle {
        display: block;
        margin-bottom: 0.5rem;
    }    
    .g-flippingcontent-item-subtitle {
        font-size: $core-font-size - 0.1;
        line-height: $core-line-height;
        font-weight: $font-weight-bold;
    }
    .g-flippingcontent-item-title {
        font-family: get-font-family($font-family-title);
        font-weight: $font-weight-bold;
        font-size: $core-font-size + 0.1;
        line-height: $core-line-height - 0.25;
        @include breakpoint(tablet-range) {
            font-size: $core-font-size;
        }
        @include breakpoint(mobile-only) {
            font-size: $core-font-size + 0.5;
        }
    }
    .g-flippingcontent-item-desc {
        font-size: $core-font-size - 0.1;
        @include breakpoint(tablet-range) {
            font-size: $core-font-size - 0.2;
        }
        @include breakpoint(mobile-only) {
            font-size: $core-font-size - 0.2;
        }        
    }
    .g-flippingcontent-item-link {
        display: block;
        margin-top: 0.5rem;
    }
    .g-flippingcontent-1cols {
        .g-flippingcontent-item {
            width: 100%;
        }
    }
    .g-flippingcontent-2cols {
        .g-flippingcontent-item {
            width: 50%;
        }
    }
    .g-flippingcontent-3cols {
        .g-flippingcontent-item {
            width: 33.33333%;
        }
    }
    .g-flippingcontent-4cols {
        .g-flippingcontent-item {
            width: 25%;
        }
    }
    .g-flippingcontent-5cols {
        .g-flippingcontent-item {
            width: 20%;
        }
    }
    .g-flippingcontent-6cols {
        .g-flippingcontent-item {
            width: 16.66667%;
        }
    }
    .g-flippingcontent-1cols {
        .g-flippingcontent-item {
            margin-bottom:3rem;
        }
    }
    .g-flippingcontent-2cols {
        .g-flippingcontent-item {
            margin-bottom: 3rem;
            @include breakpoint(small-mobile-range) {
                width: 100%;
            }
            @include breakpoint(tablet-range) {
                .g-typography & {
                  width: 100%;
                }
            }
        }
    }
    .g-flippingcontent-3cols {
        .g-flippingcontent-item {
            margin-bottom: 3rem;
            @include breakpoint(mobile-only) {
                width: 100%;
            }
        }
    }
    .g-flippingcontent-4cols {
        .g-flippingcontent-item {
            @include breakpoint(large-mobile-range) {
                width: 50%;
            }
            @include breakpoint(small-mobile-range) {
                width: 100%;
            }
        }
    }
    .g-flippingcontent-5cols, .g-flippingcontent-6cols {
        .g-flippingcontent-item {
            @include breakpoint(desktop-range) {
                width: 25%;
            }              
            @include breakpoint(tablet-range) {
                width: 33.33333%;
            }            
            @include breakpoint(large-mobile-range) {
                width: 50%;
            }
            @include breakpoint(small-mobile-range) {
                width: 100%;
            }
        }
    }
}

.g-flippingcontent-item {
    position: relative;
    float: left;
    min-height: 165px;
    margin-bottom: 1rem;
    @include breakpoint(small-mobile-range) {
        margin-bottom: 2rem;
    }    
}

.g-flippingcontent-item-front,
.g-flippingcontent-item-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.g-flippingcontent-item-front,
.g-flippingcontent-item-back {
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.g-flippingcontent-item-front {
    text-align: center;
}

.g-flippingcontent-item-back {
    background: $base-background;
    transform: rotateY(-180deg);
}

.g-flippingcontent-item-content-wrapper {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1.5rem 1rem;
    padding: 0.5rem;
}

.g-flippingcontent-item:hover .g-flippingcontent-item-front {
    transform: rotateY(-180deg);
}

.g-flippingcontent-item:hover .g-flippingcontent-item-back {
    transform: rotateY(0);
}
