#g-container-above {
    background: $above-background;
    color: $above-text-color;

    .g-title {
        color: $accent-color-4;
    }
    .g-simplecontent-item-content-title {
        font-size: $core-font-size + 2.8rem;
        font-weight: $font-weight-regular;
        color: $base-background;
        @include breakpoint(mobile-only){
            font-size: $core-font-size + 1.2rem;
        }
        @include breakpoint(tablet-range) {
            font-size: $core-font-size + 1.8rem;
        }
    }

    .g-simplecontent-item-leading-content {
        font-size: $core-font-size + 0.4;
        color: $accent-color-4;
        @include breakpoint(mobile-only){
            font-size: $core-font-size;
        }
    }
}

@media print {
    #g-container-above {
        background: #fff !important;
        color: #000 !important;
    }
}
