@mixin button-color($color, $text: $white) {
    background: $color;
    color: $text;
    &:not(.disabled):not([disabled]):hover, &:focus {
        background: darken($color, 6%);
        color: $text;
    }
}

[data-genesis-container] {
	.button-primary {
	    @include button-color($core-accent);
	}
}
