#g-offcanvas {
    background: $offcanvas-background;
    width: $offcanvas-width;
    color: $offcanvas-text-color;

    a {
        color: $offcanvas-text-color;

        &:hover {
            color: $accent-color-2;
        }
    }

    h1, h2, h3, h4, h5, h6, strong {
        color: $offcanvas-text-color;
    }

    .button {
        background: transparent;
        border: 2px solid $offcanvas-text-color !important;
        color: $offcanvas-text-color !important;

        &:hover {
            border: 2px solid $accent-color-2 !important;
            color: $accent-color-2 !important;
        }

        &:active {
            border: 2px solid $accent-color-2 !important;
            color: $accent-color-2 !important;
        }
    }

    hr {
        border-bottom: 1px solid fade-out($white, 0.5);
    }
}

.g-offcanvas-toggle {
    @if $offcanvas-toggle-visibility == 1 {
        display: none;
        @media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
            display: block;
        }
    } @else {
        display: block;
    }
    font-size: $core-font-size + 0.5;
    color: $offcanvas-toggle-color;
    background: transparent;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    top: 1.2rem;
    left: 2.4rem;
    padding-left: 1px;
    z-index: 100001;
}

.g-offcanvas-open {
    .g-nav-overlay {
        z-index: 100000;
    }

    .g-offcanvas-left {
        #g-page-surround {
            left: $offcanvas-width;
        }
    }

    .g-offcanvas-right {
        #g-page-surround {
            right: $offcanvas-width;
        }
    }

    .dir-rtl {
        &.g-offcanvas-left {
            #g-offcanvas {
                right: auto;
            }
        }

        &.g-offcanvas-right {
            #g-offcanvas {
                left: auto;
            }
        }
    }
}

// Mobile Menu
#g-offcanvas {
    #g-mobilemenu-container {
        font-family: get-font-family($font-family-default);
        font-weight: bold;
        margin-top: 0;

        .g-toplevel {
            > li {
                margin: 0.5rem 0;
                display: block;

                > .g-menu-item-container {
                    padding: $content-padding/4 0;

                    > .g-menu-item-content {
                        padding-left: $content-padding - 1;
                        .dir-rtl & {
                            padding-left: 0;
                            padding-right: $content-padding - 1;
                        }
                        color: $accent-color-2;
                        word-break: normal;
                    }

                    .g-menu-parent-indicator {
                        .dir-rtl & {
                            left: 0.938rem;
                            right: auto;
                        }
                        &:after {
                            padding: 0;
                            content: "\f105";
                            color: $accent-color-2;
                            opacity: 1;
                            width: 1rem;

                            .dir-rtl & {
                                content: "\f104";

                            }
                        }
                    }
                }

                &:hover, &.active {
                    > .g-menu-item-container {
                        color: $header-text-color;

                        > .g-selected {
                            color: $header-text-color;
                        }

                        > .g-menu-item-content {
                            opacity: 1;
                            color: $header-text-color;
                        }
                    }

                    > .g-menu-item-content {
                        opacity: 1;
                    }
                }

                &.g-parent .g-menu-parent-indicator {
                    vertical-align: top;
                    position: absolute;
                }
            }
        }

        ul {
            background: $offcanvas-background;

            > li {
                > .g-menu-item-container {
                    color: $accent-color-2;
                    padding: $content-margin;
                }

                &:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
                    &.active, &:hover {
                        > .g-menu-item-container {
                            color: $white;
                        }
                    }

                    &.active {

                    }

                    &:hover {

                    }
                }

                &.g-menu-item-link-parent {
                    > .g-menu-item-container {
                        > .g-menu-parent-indicator {
                            border: 1px solid lighten($accent-color-1, 6%);
                            background: darken($accent-color-1, 4%);

                            &:hover {
                                background: darken($accent-color-1, 8%);
                            }

                            border-radius: $core-border-radius;
                            margin: -0.3rem 0 -0.2rem 0.5rem;
                            padding: 0.2rem;
                        }
                    }
                }
            }

            .g-dropdown-column {
                width: $offcanvas-width;
            }

            i.fa {
                width: 1.5rem;
            }
        }
    }
}

#g-mobilemenu-container {
    margin: -($content-padding + $content-margin);
}

// Preset Thumbnails
.g-preset-thumbnails {
    img {
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile-only) {
        text-align: center;

        .g-block {
            flex: 0 0 auto;
            width: 50% !important;
        }

        .g-content {
            margin: 0;
        }
    }
}
