// Font Import
@mixin import-font($font-list) {
	// Import once Google fonts.
	$url: get-font-url($font-list);
	@if $url {
		@import url($url);
	}
	// Import once all local fonts in the list.
	@each $font in get-local-fonts($font-list) {
		@each $weight in get-local-font-weights($font) {
			$url: get-local-font-url($font, $weight);
			@if $url {
				@include font-face($font, $url, $weight);
			}
		}
	}
}

// Responsive Font Mixin
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    & {
        @if $fallback {
            font-size: $fallback;
        }

        @if $max {
            font-size: clamp(#{$min}, #{$responsive}, #{$max});
        } @else {
            font-size: max(#{$min}, #{$responsive});
        }
    }
}
