// Font Import
@mixin import-font($font-list) {
	// Import once Google fonts.
	$url: get-font-url($font-list);
	@if $url {
		@import url($url);
	}
	// Import once all local fonts in the list.
	@each $font in get-local-fonts($font-list) {
		@each $weight in get-local-font-weights($font) {
			$url: get-local-font-url($font, $weight);
			@if $url {
				@font-face {
					font-family: $font;
					font-style: normal;
					font-weight: $weight;
					src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff"), url("#{$url}.ttf") format("truetype");
				}
			}
		}
	}
}

// Responsive Font Mixin
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    & {
        @if $fallback {
            font-size: $fallback;
        }

        @if $max {
            font-size: clamp(#{$min}, #{$responsive}, #{$max});
        } @else {
            font-size: max(#{$min}, #{$responsive});
        }
    }
}
