.g-showcasetabs {
    &.layout-right, &.layout-left {
        .g-showcasetabs-content-wrapper-container {
            display: inline-block;
            width: 75%;
            @include breakpoint(small-mobile-range) {
                display: block;
                width: 100%;
            }
        }
    }

    &.layout-top, &.layout-bottom {
        .g-showcasetabs-tab-wrapper-body {
            .g-showcasetabs-image {
                width: 100%; 
            }
        }

    }

    .g-showcasetabs-tab-wrapper-container {
        list-style: none;
    }

    .g-showcasetabs-tab {
        outline: none;
        color: inherit !important;
    }

    .g-showcasetabs-tab-wrapper-head {
        .g-showcasetabs-tab-title {
            position: absolute;
            top: 50%;
            left: 50%;
            color: $white;
            font-size: 1.2em;
            font-family: get-font-family($font-family-italic);
            opacity: 0.6;
            transform: translate(-50%, -50%);

            @include breakpoint(mobile-only) {
                font-size: 0.9em;
            }
        }
    }

    .g-showcasetabs-content-wrapper-container {
        list-style: none;
        margin: 0;

        .g-showcasetabs-tab-wrapper-body {
            .g-showcasetabs-content {
                position: relative;
                .g-showcasetabs-desc {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: $white;
                    width: 100%;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    transform: translate(-50%, -50%);
                }
            }    
        }
    }
}

.ui-tabs-active {
    .g-showcasetabs-tab-wrapper-head {
        .g-showcasetabs-tab-title {
            opacity: 1;
        }
    }
}
