.g-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .g-logo-wrapper {
        padding: $content-padding;
        width: 200px;
        opacity: 0.2;
        text-align: center;

        a {
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
