// Font Import
@include import-font($font-family-default);
@include import-font($font-family-alt);
@include import-font($font-family-alt2);

body {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-regular;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 10px 0;
}

.title {
	font-weight: bold;
}

// Heading and Title
h1 {font-size: $base-font-size * 1.7; line-height: $base-line-height * 1.3;}
h2, .title {font-size: $base-font-size * 1.6; line-height: $base-line-height * 1.3;}
h3 {font-size: $base-font-size * 1.5; line-height: $base-line-height * 1.2;}
h4 {font-size: $base-font-size * 1.4; line-height: $base-line-height * 1.2;}
h5 {font-size: $base-font-size * 1.3; line-height: $base-line-height * 1.1;}
h6 {font-size: $base-font-size * 1.2; line-height: $base-line-height * 1.1;}

@include breakpoint(desktop-range) {
	h1 {font-size: 160%;line-height: 135%;}
	h2, .title {font-size: 135%;line-height: 135%;}
	h3 {font-size: 125%;line-height: 125%;}
	h4 {font-size: 115%;line-height: 115%;}
	h5 {font-size: 105%;line-height: 105%;}
	h6 {font-size: 100%;line-height: 105%;}
}	

@include breakpoint(tablet-range) {
	h1 {font-size: 150%;line-height: 135%;}
	h2, .title {font-size: 125%;line-height: 135%;}
	h3 {font-size: 115%;line-height: 115%;}
	h4 {font-size: 105%;line-height: 105%;}
	h5 {font-size: 100%;line-height: 100%;}
	h6 {font-size: 95%;line-height: 100%;}
}

@include breakpoint(large-mobile-range) {
	h1 {font-size: 145%;line-height: 120%;}
	h2, .title {font-size: 120%;line-height: 120%;}
	h3 {font-size: 110%;line-height: 110%;}
	h4 {font-size: 100%;line-height: 100%;}
	h5 {font-size: 95%;line-height: 95%;}
	h6 {font-size: 90%;line-height: 95%;}
}

@include breakpoint(small-mobile-range) {
	h1 {font-size: 135%;line-height: 120%;}
	h2, .title {font-size: 110%;line-height: 165%;}
	h3 {font-size: 105%;line-height: 155%;}
	h4 {font-size: 100%;line-height: 150%;}
	h5 {font-size: 90%;line-height: 140%;}
	h6 {font-size: 85%;line-height: 140%;}
}

.g-title {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-bold;	
	font-size: $base-font-size - 0.15;
	line-height: $base-line-height;	
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		height: 2px;
		background: $rule-color;
		width: 100%;
		bottom: -1px;
		left: 0;
	}
}
.g-promo {
	font-size: $base-font-size + 2;
	line-height: $base-line-height - 0.3;
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-ultrabold;
}
.g-headline {
	font-family: get-font-family($font-family-default);
	font-weight: normal;	
	font-size: $base-font-size + 0.25;
}
.g-quote {
	font-family: get-font-family($font-family-default);
	font-weight: normal;	
	font-size: $base-font-size + 0.25;
	font-style: italic;
}
.g-tag {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-regular;	
	font-size: $base-font-size;
	line-height: $base-line-height - 0.25;	
}
.g-large {
	font-size: $base-font-size + 0.2;
	line-height: $base-line-height - 0.15;	
}
.g-small {
	font-size: $base-font-size - 0.15;
	opacity: 0.8;
}

.g-title-hero {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-bold;	
	font-size: $base-font-size + 1.25;
	line-height: $base-line-height - 0.3;
}
.g-title-subhero {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-bold;	
	font-size: $base-font-size + 0.85;
	line-height: $base-line-height - 0.3;	
}
.g-title-regular {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-regular;	
	font-size: $base-font-size + 0.1;
	line-height: $base-line-height - 0.25;	
}
.g-title-bold {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-bold;	
	font-size: $base-font-size + 0.1;
	line-height: $base-line-height - 0.25;
}

.g-bold {
	font-weight: bold !important;
}

.g-italic {
	font-style: italic !important;
}

.rt-readon-group {
	display: block;
	margin-top: 30px;
	.readon, .readon2 {
		margin: 0 10px;
		width: 160px;
		text-align: center;

		@include breakpoint(small-mobile-range) {
			margin: 0 10px 10px 10px;
		}
	}
}

.genesis-example {
    position: relative;
    margin: 15px 0;
    padding: 45px 19px 14px;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.genesis-example:after {
        content: "Example";
        position: absolute;
        top: -1px;
        left: -1px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        background-color: #ebebeb;;
		border: 1px solid #dddddd;
		color: #9da0a4;
        border-radius: 4px 0 4px 0;
        font-style: normal;
}

.genesis-example > p:last-child {
        margin-bottom: 0;
}

.genesis-example blockquote, .genesis-example .table, .genesis-example .well {
        margin-bottom: 5px;
}

.genesis-left {
    float: left;
    margin-right: 15px;
}

.genesis-right {
    float: right;
    margin-left: 15px;
}

.genesis-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}

.prettyprint {
	padding: 8px;
  	background-color: #fcfcfc;
  	border: 1px solid #ddd;
}

.prettyprint.linenums {
	box-shadow: 40px 0 0 $white inset, 41px 0 0 #ddd inset;
}

.tag, .pln { color: $base-text-color; }

code,
kbd,
pre,
samp {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code, pre {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);  
  border-radius: 4px;
}

pre {
	word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 13px;
}

code {
	font-size: 12px;
	padding: 2px 4px;
	vertical-align: baseline;
	color: #d14;
	border: 1px solid #e1e1e8;
}

ul, ol {
    margin: 0 0 15px 20px;
}

ul li {
	padding: 0;
    margin: 0;
    line-height: $base-line-height;
}

blockquote {
	border-left: 5px solid #d5d5d5;
	&.pull-right {
		border-right: 5px solid #d5d5d5;
	}
	small {
		color: #b8b8b8;
	}
}

select, select[multiple], select[size] {
    height: auto;
	color: $base-text-color;
	background-color: lighten($base-background, 5%);
    border: 1px solid #d5d5d5;
    padding: 6px;
    margin: 0;
    vertical-align: middle;
    width: 220px;
    line-height: 30px;
}

// Additional
hr {
	margin: 20px 0;
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
}

.g-para {
	margin: 0.3rem 0 1rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
}  

legend {
    font-size: 20px;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    line-height: 40px;
    color: #333;
}

div.success, p.success, div.warning, p.warning, div.info, p.info, div.error, p.error {
	background-repeat: repeat-x;
	padding: 15px;
    border-radius: 4px;
}

div.success, p.success {
	color: #468847;
	background-color: #d0e9c6;
	background-image: linear-gradient(to bottom,#d0e9c6,#d0e9c6);
}

div.warning, p.warning {
    color: #A08B4C;
    background-color: #f1e5ab;
	background-image: linear-gradient(to bottom,#f1e5ab,#f1e5ab);
}

div.info, p.info {
	color: #4A677D;
	background-color: #a1bed2;
	background-image: linear-gradient(to bottom,#a1bed2,#a1bed2);
}

div.error, p.error {
	color: #CC0000;
	background-color: #e8c0c2;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#e8c0c2),to(#e8c0c2));
}

.notice, .message, .success, .info, .error, .warning,
dt, .blog-search input, .table th, th.title, legend, fieldset dd, li.author, li.date, 
li.comments, .showHere, .highlight, .word_input, .word_label, .search_legend, 
.result_title, .pagenavcounter, .counter, .tip-title, .system-unpublished {
	font-family: get-font-family($font-family-alt);
	font-weight: bold;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal	dd {
	margin-left: 180px;
}    


dt, dd {
    line-height: 20px;
}

dd {
    margin-left: 10px;
}

address {
    font-style: normal;
    margin: 10px 0;
}

small {
    font-size: 0.85em;
}

cite {
	font-size: inherit;
	font-style: normal;
	display: inline;
}

cite:before {
	content: " ";
}


blockquote {
	padding: 0 0 0 15px;
  margin: 0 0 20px;
}	

blockquote.pull-right {
		float: right;
    padding-right: 15px;
    padding-left: 0;
    border-left: 0;
}
blockquote.pull-right p, blockquote.pull-right small {
	text-align: right;
}

blockquote.pull-right small:before {
	content: " ";
}
blockquote.pull-right small:after {
	content: "\00A0 \2014";
}
blockquote.pull-right cite:before {
	content: " ";
}

blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

blockquote small {
	display: block;
	line-height: 20px;
}
blockquote small:before {
	content: "\00A0 \2014";
	margin-right: 2px;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
