#g-bottom {
	background: $bottom-background;
	color: $bottom-text-color;

	h1, h2, h3, h4, h5, h6 {
		color: darken($bottom-text-color, 15%);
	}
}

@media print {
	#g-bottom {
		background: #fff !important;
		color: #000 !important;
	}
}
