//-------------------------------------------//

// SWIPER CAROUSEL ORIGINAL STYLING

/*
*  Swiper Carousel - Animate Plugin
*/
.swiper .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.swiper .swiper-animated-in {
    z-index: 0;
}

.swiper .swiper-animated-out {
    z-index: 1;
}

.swiper .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
*  Swiper Carousel - Auto Height Plugin
*/
.swiper-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

/*
*  Core Swiper Carousel CSS File
*/
.swiper {
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.swiper .swiper-wrapper {
    position: relative;
    -ms-touch-action: pan-Y;
}

.swiper .swiper-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.swiper .swiper {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.swiper .swiper-controls .swiper-navigation .swiper-button-prev,
.swiper .swiper-controls .swiper-navigation .swiper-button-next,
.swiper .swiper-controls .swiper-pagination-bullet {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swiper.swiper-initialized {
    display: block;
}

.swiper.swiper-loading {
    opacity: 0;
    display: block;
}

.swiper.swiper-hidden {
    opacity: 0;
}

.swiper .swiper-refresh .swiper-slide {
    display: none;
}

.swiper .swiper-slide {
    position: relative;
    min-height: 1px;

    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.swiper .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.swiper.swiper-text-select-on .swiper-slide {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.swiper .swiper-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.swiper.swiper-rtl {
    direction: rtl;
}

.swiper.swiper-rtl .swiper-slide {

}

/* No Js */
.no-js .swiper {
    display: block;
}

/*
*  Swiper Carousel - Lazy Load Plugin
*/
.swiper .swiper-slide .swiper-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.swiper .swiper-slide img {
    transform-style: preserve-3d;
}

/*
*  Swiper Carousel - Nav & Dots
*/
.swiper-navigation {
    opacity: 1;
    transition: opacity 0.25s;

    div, button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;
        outline: none;
        display: inline-block;
        opacity: 1;
        text-transform: uppercase;
        transition: all 0.25s;

        &:hover {
            color: $accent-color-1;
        }

        &.swiper-button-prev {
            margin-right: $content-padding * 5;

            @include breakpoint(small-mobile-range) {
                margin-right: $content-padding * 2;
            }
        }

        .dir-rtl & {
            left: 0;
            right: auto;

            &.swiper-button-next {
                margin-left: $content-padding * 5;

                @include breakpoint(small-mobile-range) {
                    margin-left: $content-padding * 2;
                }
            }
        }
    }

    &.disabled {
        display: none;
    }
}

.swiper-controls {
    @include breakpoint(small-mobile-range) {
        text-align: center;
    }
}

.swiper-pagination {
    .swiper-pagination-bullet {
        display: inline-block;
        background: transparentize($white, 0.50);
        width: 15px;
        height: 15px;
        padding: 0;
        outline: none;
        border-radius: 100%;
        margin: 0 0.6rem;
        background: $white;
        vertical-align: middle;
        transition: all 0.2s ease-out;

        &.active {
            background: $accent-color-1;
        }
    }
}

.swipercarousel-offset {
    margin-right: -45px !important;
    margin-bottom: -45px !important;
    margin-left: -45px !important;

    @include breakpoint(mobile-only) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    & { position: relative; }
    & { z-index: 2; }

    &.col-12 {
        flex-basis: auto;
        width: auto;
    }
}

.g-swipercarousel-description {
    font-family: get-font-family($font-family-default);
    font-size: $core-font-size + 0.25;
    font-weight: $font-weight-regular;
}

.g-swipercarousel-header {
    padding: $content-padding !important;
    margin: $content-margin;
}

// LAYOUTS ---------------------------------------------------//

%swiper-arrow {
    color: darken($accent-color-1, 25%);
    background: $accent-color-1;
    box-shadow: none;
    border-radius: 1em;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    opacity: 0.7;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .fa {
        padding: 0;
        font-size: 1rem;
        line-height: 1;
    }

    @include breakpoint(small-mobile-range) {
        width: 20px;
        height: 20px;
        line-height: 1;
    }
}

// Features Slider
.g-swipercarousel-feature-slider {
    position: relative;

    .g-swipercarousel-header {
        margin: $content-margin;
        padding-bottom: 0.1rem !important;
    }

    .g-title {
        color: $accent-color-1;
        padding: 0;
    }

    .swiper-slide {
        .item {
            .g-swipercarousel-item-image {
                &:before {
                    background: linear-gradient(rgba($feature-background, 0), $feature-background);
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 75%;
                    bottom: 0;
                    z-index: 1;
                }
            }

            .g-swipercarousel-content {
                position: absolute;
                top: 40px;
                left: 40px;
                width: 40%;
                padding: 1rem;
                z-index: 2;

                .dir-rtl & {
                    right: 40px;
                }

                @include breakpoint(desktop-range) {
                    width: 44%;
                }

                @include breakpoint(tablet-range) {
                    width: 55%;
                }

                @include breakpoint(mobile-only) {
                    width: 55%;
                    padding-top: 0;
                }

                @include breakpoint(small-mobile-range) {
                    top: 20px;
                    left: 1rem;
                }

                .g-swipercarousel-item-title, .g-swipercarousel-item-desc {
                    background: transparent;
                    color: inherit;
                }

                .g-swipercarousel-item-title {
                    font-size: $core-font-size + 2;
                    line-height: $core-line-height - 0.3;
                    font-family: get-font-family($font-family-promo);
                    font-weight: $font-weight-ultrabold;
                    margin: 0;
                    padding: 10px;

                    @include breakpoint(desktop-range) {
                        font-size: $core-font-size + 1.5;
                        line-height: $core-line-height - 0.4;
                    }

                    @include breakpoint(tablet-range) {
                        font-size: $core-font-size + 1;
                        line-height: $core-line-height - 0.5;
                    }

                    @include breakpoint(mobile-only) {
                        font-size: $core-font-size + 0.3;
                        padding-top: 0;
                    }

                    @include breakpoint(small-mobile-range) {
                        font-size: $core-font-size + 0.2;
                    }
                }

                .g-swipercarousel-item-desc {
                    opacity: 0.75;
                    font-size: $core-font-size + 0.05rem;
                    line-height: $core-line-height - 0.2;
                    padding: 10px;

                    @include breakpoint(tablet-range) {
                        font-size: $core-font-size;
                    }

                    @include breakpoint(mobile-only) {
                        display: none;
                    }

                    p {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    // Dots
    > .swiper-pagination.swiper-pagination-horizontal {
        position: absolute;
        z-index: 10;
        bottom: 15px;
        right: 1rem;
        left: auto;
        width: auto;
        margin: 0;
        counter-reset: callisto-slide;

        @include breakpoint(mobile-only) {
            right: 1rem;
            left: 1rem;
            width: auto;
            text-align: center;
            bottom: 0;
        }

        .swiper-pagination-bullet {
            display: block;
            background: transparent;
            color: darken($accent-color-1, 25%);
            border: 2px solid $accent-color-1;
            border-radius: 100%;
            padding: 0;
            box-shadow: none;
            width: 30px;
            height: 30px;
            margin: 0 0 0.25rem;
            cursor: pointer;
            opacity: 0.4;
            counter-increment: callisto-slide;

            &.swiper-pagination-bullet-active {
                background: $accent-color-1;
                opacity: 1;
            }

            &::before {
                content: counter(callisto-slide);
                display: block;
                line-height: 26px;
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
            }

            @include breakpoint(mobile-only) {
                width: 15px;
                height: 15px;
                display: inline-block;
                vertical-align: bottom;

                &::before {
                    content: none;
                }
            }

            span {
                display: none;
            }
        }
    }

    // Prev & Next Nav
    .swiper-navigation {
        div, button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend %swiper-arrow;
            width: 30px;
            height: 30px;
            padding: 0;
            border: 0;
            line-height: 1;
            margin: auto;
            opacity: 0.5;
            $swiper-navigation-position: 1rem;

            &:hover {
                opacity: 1;
            }

            &.swiper-button-prev {
                left: $swiper-navigation-position;
                right: auto;

                .fa {
                    padding: 0;
                    font-size: 1rem;
                }

                .rtl & {
                    right: $swiper-navigation-position;
                    left: auto;
                }
            }

            &.swiper-button-next {
                right: $swiper-navigation-position;
                left: auto;

                .fa {
                    padding: 0;
                    font-size: 1rem;
                }

                .rtl & {
                    left: $swiper-navigation-position;
                    right: auto;
                }
            }

        }
    }
}

// Headlines Slider
.g-swipercarousel-headlines {
    position: relative;
    border-radius: 5px;
    margin: -1px;
    padding-right: 5px;

    .dir-rtl & {
        padding-left: 5px;
    }

    .g-swipercarousel-header {
        margin: $content-margin;
        padding-bottom: 0.1rem !important;
    }

    .g-title {
        color: $accent-color-1;
        padding: 0;
    }

    .headlines-container {
        display: flex;
        align-items: center;
        min-width: 0;

        .headlines-badge {
            flex: 0 0 auto;
            line-height: 2.6rem;

            span {
                font-family: get-font-family($font-family-title);
                font-size: $core-font-size - 0.1;
                line-height: 1.25rem;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                padding: 10px;
                display: block;
            }
        }

        .g-swipercarousel {
            flex: 1 1 auto;
            min-width: 0;

            .swiper {
                width: 100%;

                @include breakpoint(mobile-only) {
                    width: 100%;
                }

                .swiper-slide {
                    line-height: 1.2rem;
                    font-size: 1.1rem;
                    box-sizing: border-box;
                    padding: 10px 5rem 10px 10px;

                    .item {
                        .g-headlines-desc {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .swiper-navigation {
                > div, > button {
                    top: 50%;
                    bottom: auto;
                    left: auto;
                    width: 30px;
                    height: 30px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    line-height: 30px;
                    transform: translateY(-50%);
                    @extend %swiper-arrow;

                    &.swiper-button-prev {
                        right: 2.75rem;
                    }

                    &.swiper-button-next {
                        right: 0.5rem;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        @include breakpoint(mobile-only) {
            display: block;

            .g-swipercarousel .swiper-slide {
                padding-right: 4.5rem;
            }
        }
    }
}

// Strips Slider
.g-swipercarousel-strips-slider {
    position: relative;

    .g-swipercarousel {
        > .swiper {
            box-sizing: border-box;
            padding-bottom: 3rem;
        }

        .swiper-slide {
            margin-top: 10px;
            margin-bottom: 10px;

            .item {
                position: relative;
                height: 100%;
                box-shadow: none;
                border-radius: $border-radius;
                overflow: hidden;
                background-size: cover;

                .g-swipercarousel-content {
                    background: linear-gradient(transparent, fade-out($black, 0.2));
                    z-index: 2;
                    padding: 15px;
                    color: $white;

                    &:hover {
                        .g-swipercarousel-item-title, .g-swipercarousel-item-desc, .readon span {
                            opacity: 0;
                        }

                        .readon {
                            &:before, &:after {
                                opacity: 1;
                            }
                        }
                    }

                    .g-swipercarousel-item-title,
                    .g-swipercarousel-item-title a {
                        color: $white;
                        font-size: $core-font-size + 0.25;
                        line-height: 1.5rem;
                        font-family: get-font-family($font-family-promo);
                        font-weight: $font-weight-ultrabold;
                        margin: 100% 0 0 0;
                    }

                    .g-swipercarousel-item-desc {
                        display: block;
                        opacity: 0.75;
                        line-height: 2.5rem;
                    }

                    .g-strips-tag {
                        position: absolute;
                        top: 1rem;
                        color: $white;
                        background: rgba(0, 0, 0, 0.75);
                        border-radius: $border-radius;
                        display: inline-block;
                        font-family: get-font-family($font-family-title);
                        font-weight: $font-weight-bold;
                        font-size: $core-font-size - 0.3;
                        padding: 0.15rem 0.75rem;
                        text-transform: uppercase;
                    }

                    .readon {
                        &:before, &:after {
                            position: absolute;
                            opacity: 0;
                            transition: opacity 0.35s;
                        }

                        &:before {
                            background: fade-out($accent-color-1, 0.25);
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            content: "";
                        }

                        &:after {
                            color: $white;
                            content: "\f15c";
                            top: 50%;
                            left: 50%;
                            font-size: 3.5rem;
                            font-family: FontAwesome;
                            margin-top: -1.5rem;
                            margin-left: -1.5rem;
                        }
                    }

                    .g-swipercarousel-item-title, .g-swipercarousel-item-desc, .readon span {
                        transition: opacity 0.35s;
                    }
                }
            }
        }

        .swiper-navigation {
            padding: 5px;

            > div, > button {
                top: auto;
                bottom: 0.65rem;
                left: auto;
                margin: 0;
                transform: none;
                @extend %swiper-arrow;

                &.swiper-button-prev {
                    right: 2.75rem;
                }

                &.swiper-button-next {
                    right: 0.5rem;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        > .swiper > .swiper-pagination.swiper-pagination-horizontal {
            right: auto;
            bottom: 0.9rem;
            left: 0.5rem;
            width: auto;

            .swiper-pagination-bullet {
                border: 2px solid $accent-color-1;
                opacity: 1;
                margin: 0 2px;

                &:not(.swiper-pagination-bullet-active) {
                    background: transparent;
                    opacity: 0.3;
                }
            }
        }
    }
}

// Lists Slider
.g-swipercarousel-lists {
    position: relative;

    .g-swipercarousel {
        overflow: visible;

        > .swiper {
            overflow: hidden;
            padding: 0 0 3rem;
        }

        .swiper-slide {
            border-bottom: 1px solid $rule-color;

            .item {
                p {
                    margin: 0;
                }

                .g-swipercarousel-item-title {
                    position: relative;
                    outline: none;
                    font-family: get-font-family($font-family-title);
                    font-weight: $font-weight-bold;
                    font-size: $core-font-size - 0.1 !important;
                    line-height: 1.35rem !important;
                    text-transform: uppercase;
                    background: transparent;
                    border: none;
                    padding: 13px 18px 5px;
                    margin: -1px -1px 2px -1px;
                    cursor: pointer;

                    &.padding {
                        padding-right: 35px;
                    }

                    .indicator {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        margin-top: -9px;
                        display: block;
                        opacity: 0.7;
                        cursor: pointer;
                        text-align: center;
                        color: $black;
                        background: rgba(255, 255, 255, 0.5);
                        border-radius: 3px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &.ui-accordion-header-active {
                        background: $white;
                        color: $base-text-color;
                        margin: 0;


                        .indicator {
                            opacity: 0;
                            background: rgba(0, 0, 0, 0.25);
                            color: rgba(0, 0, 0, 0.5);

                            &:hover {
                                opacity: 0;
                            }
                        }
                    }
                }

                .g-swipercarousel-content {
                    padding: 18px;

                    .readon {
                        display: inline-block;
                        margin-top: 0.35rem;
                    }

                    &.ui-accordion-content-active {
                        background: $white;
                        color: $base-text-color;
                    }
                }
            }
        }

        .swiper-navigation {
            > div, > button {
                top: auto;
                @extend %swiper-arrow;
                bottom: 0.75rem;
                right: 0.75rem;
                left: auto;
                margin: 0;
                transform: none;

                &.swiper-button-prev {
                    right: 2.95rem;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        > .swiper > .swiper-pagination.swiper-pagination-horizontal {
            position: absolute;
            right: auto;
            left: 10px;
            bottom: 15px;
            width: auto;

            .swiper-pagination-bullet {
                border: 2px solid $accent-color-1;
                opacity: 1;
                margin: 0 2px;

                &:not(.swiper-pagination-bullet-active) {
                    background: transparent;
                    opacity: 0.3;
                }
            }
        }
    }
}
