
.g-contenttabs {
    .g-contenttabs-tab-wrapper-container {
        list-style: none;
        margin: 0 0 1rem 0;
    }

    .g-contenttabs-tab {
        outline: none;
    }

    .g-contenttabs-tab-wrapper-head {

        .g-contenttabs-tab-title {
            display: inline-block;
            border: none;
            border-radius: 0;
            font-family: get-font-family($font-family-regular);
            font-size: 1em;
            margin: 0;
            padding: 8px 18px;
            text-transform: uppercase;
            line-height: normal;
        }
    }

    .g-contenttabs-content-wrapper-container {
        list-style: none;
        margin: 0;
        padding: 0 0 $content-padding;
        min-height: 310px;

        .g-contenttabs-tab-wrapper-body {
            padding: 0;
        }
    }
}

.ui-tabs-active {
    .g-contenttabs-tab-wrapper-head {
        .g-contenttabs-tab-title {
            color: $accent-color-1;
        }
    }
}

// FP About Tab
.rt-about-img {
    margin: 10px 15px 0 0;
    img {
        display: block;
        border-radius: 3px 3px 0 0;
    }

    @include breakpoint(mobile-only) {
        margin-bottom: 25px;
    }
}
.rt-about-info {
    background: lighten($mainbottom-text-color, 50%);
    border-radius: 0 0 3px 3px;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
// FP Team Tab
.fp-team-tab {
    img {
        border-radius: 100%;
        display: block;
        margin: auto;
        width: 100px;
    }
    .genesis-width-spacer {
        margin: 5px;
    }
}
.fp-team-name {
    display: block;
    margin-top: 15px;
    font-family: get-font-family($font-family-bold);
    line-height: 1;
}
.fp-team-position {
    font-size: 80%;
    line-height: 1;
    opacity: 0.8;
}

.rt-label-1, .rt-label-2 {
    color: $white;
    padding: 5px 15px;
}
.rt-label-1 {
    background: $accent-color-1;
}
.rt-label-2 {
    background: $accent-color-2;
}
