#g-navigation {
    background: $navigation-background;
    color: $navigation-text-color;  
    position: relative;

	// Home
	&.g-home {
		background: transparent;
		color: $navigation-text-color;
		position: absolute;
		z-index: 100;
		width: 100%;

		&.headroom-bg-section {
			background: $navigation-background;
		}
	}    
	.g-mosaic-menu {
		.genesis-content {
			margin: 0;
		}	
		.menu-item-particle .genesis-content {
			margin: $content-margin;
			text-align: center;
		}	
	} 
	.g-main-nav {
		&:not(.g-menu-hastouch) {
			.g-dropdown.show {
				top: 90%;
				.g-dropdown {
					top: 0;
				}
			}

			.g-fullwidth {
				.g-dropdown.show {
					.g-dropdown {
						top: 0;
					}
				}
			}	
		}
	}	   
}

#g-navigation {

	// container
	> .container {
		position: relative;
	}

	// genesis-content
	.genesis-content {
		padding: 0;
	}

	// Social Icons
	.g-social {
		text-align: right;
		@include breakpoint(mobile-only) {
			text-align: center;
		}		
	}

	// Menu Styling
	.g-main-nav {
		margin: 0;

		.g-toplevel {

			> li {
				margin: 0 0.05rem;
				> .g-menu-item-container {
					color: $navigation-text-color;
				}
				&:hover {
					> .g-menu-item-container {
						color: lighten($accent-color-1, 25%);
						.g-menu-item-title {
							border-bottom: 1px solid;
						}						
						> .g-selected {
							color: lighten($accent-color-1, 25%);
						}
						.g-style-preset3 & {
							color: lighten($accent-color-1, 50%);
						}
					}
				}
				&.active {
					> .g-menu-item-container {
						color: lighten($accent-color-1, 25%);	
						.g-menu-item-title {
							border-bottom: 1px solid;
						}					
						> .g-selected {
							color: lighten($accent-color-1, 25%);

							&:after {
							    background: $accent-color-1;
							    bottom: -10px;
							    content: '';
							    height: 2px;
							    position: absolute;
							    width: 38px;			
							    left: 50%;
							    margin-left: -19px;
							}							
						}
						.g-style-preset3 & {
							color: lighten($accent-color-1, 50%);
						}						
					}
				}
				&.active.g-parent {
					> .g-menu-item-container {
						&:after {
						    margin-left: -29px;
						}	
					}					
				}	
				&.g-parent .g-menu-parent-indicator {
					vertical-align: top;
				}
			}
		}

		.g-dropdown {
			background: #090D0F;
			border-radius: 0;
			> .g-dropdown-column {
				border: 1px solid transparent;
			}
		}

		.g-sublevel {

			> li {
				border-bottom: 1px solid #26363f;
				> .g-menu-item-container {
					color: $white;
					font-family: get-font-family($font-family-alt);
					text-transform: uppercase;
					font-size: 11px;
					font-weight: bold;
					text-align: center;
					padding: 8px 0;
					> .g-selected {
						color: $black;
					}					
				}

				&:hover, &.active {
					> .g-menu-item-container {
						color: lighten($accent-color-1, 25%);
						> .g-selected {
							color: lighten($accent-color-1, 25%);
						}
						.g-style-preset3 & {
							color: lighten($accent-color-1, 50%);
						}
					}
				}

				&:last-child {
					border-bottom: none;					
				}

				&.g-menu-item-type-particle {
					&:hover {
						> .g-menu-item-container {
							background: inherit;
						}	
					}
				}
			}
		}
	}	
	.g-menu-block {
		@include breakpoint(mobile-only) {
			display: none;
		}		
	}	
	.g-menu-item-subtitle {
		text-transform: lowercase;
		font-size: 0.85rem;
		font-weight: bold;
		opacity: 0.8;
		padding-top: 2px;
	}
}

.menu-item-particle {
	a {
		color: $accent-color-1;

		.g-style-preset3 & {
			color: lighten($accent-color-1, 50%);
		}

		&:hover {
			color: $navigation-text-color;
		}
	}
}

@media print {
	#g-navigation {
		background: #fff !important;
		color: #000 !important;
	}
}

#g-navigation .g-mosaic-menu .g-main-nav .g-toplevel > li > .g-menu-item-container {
	font-family: get-font-family($font-family-alt);
	font-size: 13px;
	min-width: 100px;
	padding: 0;
	height: 65px;
	display: table-cell;
	vertical-align: middle;

	@include breakpoint(tablet-range) {
		min-width: 90px;
	}

	.g-menu-item-title {
	border-bottom: 0;
	letter-spacing: 1px;
	}
}

#g-navigation .g-mosaic-menu .g-main-nav .g-toplevel > li.g-parent .g-menu-parent-indicator:after {
	content: "\f107";
	width: 0;
	opacity: 1;
}

#g-navigation .g-mosaic-menu .g-main-nav .g-sublevel > li.g-parent .g-menu-parent-indicator:after {
	content: "\f054";
    text-align: center;
    margin-top: 5px;
}

#g-navigation .g-mosaic-menu .g-main-nav .g-sublevel > li.g-parent .g-menu-item-content {
    margin-right: 0;
}

#g-navigation .g-mosaic-menu .g-main-nav .g-toplevel > li {
	&.g-logo {
		margin: 0 25px;

		.g-menu-item-container {
			color: $white;
		}

		&:hover {
			.g-menu-item-container {
				color: $white;
			}		
		}

		.g-menu-item-title {
			font-size: 25px;
			letter-spacing: 5px;
			font-family: get-font-family($font-family-alt2);
		}

		&:after {
			background: #FFFFFF;
		    content: "";
		    position: absolute;
		    left: 50%;
		    bottom: 10px;
		    height: 2px;
		    margin-left: -30px;
		    width: 60px;
		    transition: all 0.3s ease;
		}
		&:hover:after {
			width: 90px;
			height: 4px;
			bottom: 6px;
			margin-left: -45px;
		}	
	}
}
