// Carousel Styling
.g-slider {
    position: relative;

    .g-slider-carousel {
        position: absolute;
        bottom: -1rem;

        .dir-rtl & {
            right: 2rem;
            left: auto;
        }

        &[data-slider-carousel-nav="true"] {
            .swiper {
                margin: 0 4rem;
            }
        }

        //Item
        .swiper-slide {
            outline: none;
            cursor: pointer;
            padding-top: 1rem;

            img {
                transition: all 1s;
                z-index: 1;
                position: relative;
                border-radius: $border-radius;
            }

            // Black BG
            .g-slider-carousel-image-container {
                background: transparent;
                margin: $content-margin;
                border-radius: $border-radius;
                position: relative;
                z-index: 0;
                padding-bottom: 1rem;
                transform: translateY(0);
                transition: all 0.35s ease-in-out;

                // Hover
                .g-slider-carousel-image-hover {
                    opacity: 0;
                    position: absolute;
                    font-size: $core-font-size + 0.3;
                    top: -1rem;
                    width: 100%;
                    height: 100%;
                    padding: $content-padding;
                    font-weight: $font-weight-bold;
                    z-index: 5;
                }
            }

            // Hover State
            &:hover, &.swiper-current {
                .g-slider-carousel-image-container {
                    transform: translateY(-1rem);

                    img {
                        padding-bottom: 10px;
                        background: $accent-color-1;
                        transition: all 0.2s;
                    }

                    .g-slider-carousel-image-hover {
                        opacity: 1;
                        top: 0;

                        &:before {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        // Prev & Next Controls
        .swiper-navigation {
            > div {
                position: absolute;
                margin: auto;
                text-align: center;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                opacity: 1;

                .fa {
                    font-size: $core-font-size + 0.5;
                    font-weight: $font-weight-regular;
                }

                &:hover {
                    color: fade-out($white, 0.4);
                }
            }

            .swiper-button-prev {
                margin-left: 10px;
                left: 0;
                right: auto;

                .dir-rtl & {
                    margin-right: 10px;
                    right: 0;
                    left: auto;

                    .fa-chevron-left {
                        &:before {
                            content: "\f054";
                        }
                    }
                }
            }

            .swiper-button-next {
                margin-right: 10px;
                left: auto;
                right: 0;

                .dir-rtl & {
                    margin-left: 10px;
                    left: 0;
                    right: auto;

                    .fa-chevron-right {
                        &:before {
                            content: "\f053";
                        }
                    }
                }
            }
        }
    }

    // Slides styling
    .g-bgslideshow-slides {
        padding-top: $content-padding * 3;
        padding-bottom: $content-padding * 6;

        // Item
        .swiper-slide {
            text-align: center;

            .g-bgslideshow-slides-item-title {
                font-size: $core-font-size + 3;
                font-weight: $font-weight-black;
                line-height: 9vw;
            }

            .g-bgslideshow-slides-item-description {
                font-size: $core-font-size + 0.2;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
}
