#g-mainbar {
    background: $main-background;
    color: $main-text-color;
}
.genesis-wrapper {
  .container {
    padding: 4rem 0;
  }
}
@media print {
	#g-main {
		background: #fff !important;
		color: #000 !important;
	}
}
