#g-showcase {
    background: $showcase-background;
    color: $showcase-text-color; 
    
    // Container
    .container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    // Background Image
    @if $showcase-background-image {
        background: $showcase-background url($showcase-background-image) top center no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media print {
    #g-showcase {
        background: #fff !important;
        color: #000 !important;
    }
}
