#g-above {
    color: $above-text-color;
    background: $above-background;
    position: relative;
    .row {
        align-items: center;
    }
}

@media print {
    #g-above {
        background: #fff !important;
        color: #000 !important;
    }
}
