#g-container-bottom {
    background: $bottom-background;
    color: $bottom-text-color;

    #g-bottommain {
        > .row:last-child {
            padding: 0 0 $section-padding 0;
        }
    }
    .g-swipercarousel-layout-standard {
        margin: 0 $content-padding;
        .swiper-navigation {
            .swiper-button-prev {
                left: -33px;
            }
            .swiper-button-next {
                right: -33px;

            }
            div, button {
                border-radius: 0;
                height: auto;
                width: 30px;
                border-width: 1px;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
            }
        }
        .swiper-slide {
            padding: 0 $content-margin;
            > div {
                box-shadow: none;
                .image img {
                    border-radius: 0;
                }
            }
        }
    }
}

@media print {
    #g-container-bottom {
        background: #fff !important;
        color: #000 !important;
    }
}
