#g-container-feature {
    background: $feature-background;
    color: $feature-text-color;

    #g-featuremain {
        > .g-grid {
            padding: 0 0 $section-padding 0;
        }
    }

    .g-content {
        padding: 0.2rem;
    }
}

@media print {
    #g-container-feature {
        background: #fff !important;
        color: #000 !important;
    }
}
