#g-offcanvas {
    background: $offcanvas-background;
    width: $offcanvas-width;
    color: $offcanvas-text-color;

    a {
        color: $offcanvas-text-color;

        &:hover {
            color: $accent-color-2;
        }
    }

    h1, h2, h3, h4, h5, h6, strong {
        color: $offcanvas-text-color;
    }

    .button {
        background: transparent;
        border: 2px solid $offcanvas-text-color !important;
        color: $offcanvas-text-color !important;

        &:hover {
            border: 2px solid $accent-color-2 !important;
            color: $accent-color-2 !important;
        }

        &:active {
            border: 2px solid $accent-color-2 !important;
            color: $accent-color-2 !important;
        }
    }

    hr {
        border-bottom: 1px solid fade-out($white, 0.5);
    }
}

.g-offcanvas-toggle {
    @if $offcanvas-toggle-visibility == 1 {
        display: none;
        @media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
            display: block;
        }
    } @else {
        display: block;
    }
    & { font-size: $core-font-size + 0.5; }
    & { color: $offcanvas-toggle-color; }
    & { background: transparent; }
    & { width: 24px; }
    & { height: 24px; }
    & { line-height: 24px; }
    & { text-align: center; }
    & { top: $content-padding + 1.2; }
    & { left: $content-padding + $content-margin; }
    & { padding-left: 1px; }
    & { z-index: 100001; }
}

// Mobile Menu
#g-offcanvas {
    #g-mobilemenu-container {
        font-family:  get-font-family($font-family-promo);
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0;

        .g-toplevel {
            > li {
                margin: 0.5rem 0;
                display: block;

                > .g-menu-item-container {
                    text-transform: uppercase;
                    padding: $content-padding/4 0;

                    > .g-menu-item-content {
                        padding-left: 2rem;
                        .dir-rtl & {
                            padding-left: $content-padding;
                            padding-right: 2rem;
                        }
                        color: $accent-color-4;
                        word-break: normal;
                    }

                    .g-menu-parent-indicator {
                        .dir-rtl & {
                            left: 0.938rem;
                            right: auto;
                        }
                        &:after {
                            padding: 0;
                            content: "\f105";
                            color: $accent-color-4;
                            opacity: 1;
                            width: 1rem;

                            .dir-rtl & {
                                content: "\f104";

                            }
                        }
                    }
                }

                &:hover, &.active {
                    > .g-menu-item-container {
                        &:before {
                            left: 0;
                            position: absolute;
                            font: normal normal normal $core-font-size + 0.3/1 FontAwesome;
                            content: "\f178";
                            margin-top: -1px;

                            .dir-rtl & {
                                left: auto;
                                content: "\f177";
                            }
                        }

                        color: $header-text-color;

                        > .g-selected {
                            color: $header-text-color;
                        }

                        > .g-menu-item-content {
                            opacity: 1;
                            color: $header-text-color;
                        }
                    }

                    > .g-menu-item-content {
                        opacity: 1;
                    }
                }

                &.g-parent .g-menu-parent-indicator {
                    vertical-align: top;
                    position: absolute;
                }
            }
        }

        ul {
            background: $offcanvas-background;

            > li {
                > .g-menu-item-container {
                    color: $offcanvas-text-color;
                    padding: $content-margin;
                }

                &:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
                    &.active, &:hover {
                        > .g-menu-item-container {
                            color: $white;
                        }
                    }

                    &.active {

                    }

                    &:hover {

                    }
                }

                &.g-menu-item-link-parent {
                    > .g-menu-item-container {
                        > .g-menu-parent-indicator {
                            border: 1px solid lighten($accent-color-1, 6%);
                            background: darken($accent-color-1, 4%);

                            &:hover {
                                background: darken($accent-color-1, 8%);
                            }

                            border-radius: $core-border-radius;
                            margin: -0.3rem 0 -0.2rem 0.5rem;
                            padding: 0.2rem;
                        }
                    }
                }
            }

            .g-dropdown-column {
                width: $offcanvas-width;
            }

            i.fa {
                width: 1.5rem;
            }
        }
    }
}

#g-mobilemenu-container {
    margin: (-1 * ($content-padding + $content-margin));
}

// Preset Thumbnails
.g-preset-thumbnails {
    img {
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile-only) {
        text-align: center;

        .col {
            flex: 0 0 auto;
            width: 50% !important;
        }

        .genesis-content {
            margin: 0;
        }
    }
}
