#g-container-slideshow {
    background: $slideshow-background;
    color: $slideshow-text-color;

    #g-slideshowmain {
        > .row {
            padding: 0 0 $section-padding 0;
        }
    }

    .genesis-content {
        padding: 0.2rem;
    }
}

@media print {
    #g-container-slideshow {
        background: #fff !important;
        color: #000 !important;
    }
}
