.flush {
	> .genesis-content {
		margin: 0 !important;
		padding: 0 !important;
	}
}

.nopaddingall {
	> .genesis-content {
		padding: 0 !important;
	}	
}

.nomarginall {
	> .genesis-content {
		margin: 0 !important;
	}	
}

.title-center {
	.g-title {
		text-align: center;
		margin: 0 0 2rem 0;
	}
}

.title-rounded {
  .g-title {
    border-radius: 2rem;
    padding: $content-margin 1.5rem;
  }
}

.title-underline {
	.g-title {
		position: relative;
		&:after {
		    background: $accent-color-1;
		    bottom: -10px;
		    content: '';
		    height: 2px;
		    position: absolute;
		    width: 50px;
		    left: 50%;
		    margin-left: -25px;
		}
	}	
}

.title-inline {
	.g-title {
    display: inline-block;
    margin-bottom: $content-margin !important;
  }
}

.title1, .title2, .title3, .title4, .title-white, .title-grey, .title-pink, .title-red, .title-purple, .title-orange, .title-blue {
	.g-title {
		margin: (-1 * ($content-padding)) (-1 * ($content-padding)) 1.5rem (-1 * ($content-padding));
    padding: $content-margin 1rem;
	}
}

.moduletable, .widget {
    &[class*="box"] {
      padding: $content-padding;
      margin: $content-margin;
    }
    &[class*="title"] {
      .g-title {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }
    }
}

.title1 {
	.g-title, .button {
		background: darken($box1-background, 8%);
		color: $white;
	}
	.button {
		background: darken($box1-background, 8%);
  }
}
.box1 {
  &.moduletable, &.widget,
	&.g-outer-box,
  > .genesis-content  {
		background: darken($box1-background, 8%);
	}
  &.moduletable, &.widget,
  > .genesis-content  {
		color: $white;
  }
	.button {
		background: darken($box1-background, 25%);
  }
	a {
		color: $white;
	}
}
.box1, .title1 {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box1-background, 10%);
		}
		&.button-3, &.button-1 {
			color: darken($box1-background, 25%);
			border-color: darken($box1-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title2 {
	.g-title, .button {
		background: $box2-background;
		color: darken($box2-background, 50%);
	}
	.button {
		background: $box2-background;
  }
}
.box2 {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box2-background;
	}
  &.moduletable, &.widget,
	 > .genesis-content {
		color: darken($box2-background, 50%);
	}
	.button {
		background: darken($box2-background, 25%);
  }
	a {
		color: lighten($box2-background, 25%);
	}
} 
.box2, .title2 {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box2-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box2-background, 25%);
			border-color: darken($box2-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title3 {
	.g-title, .button {
		background: $box3-background;
		color: darken($box3-background, 35%);
	}
	.button {
		background: $box3-background;
  }
}
.box3 {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box3-background;
	}
  &.moduletable, &.widget,
	 > .genesis-content {
		color: darken($box3-background, 35%);
	}
	.button {
		background: darken($box3-background, 25%);
  }
	a {
		color: lighten($box3-background, 25%);
	}
} 
.box3, .title3 {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box3-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box3-background, 25%);
			border-color: darken($box3-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title4 {
	.g-title, .button {
		background: $box4-background;
		color: $base-text-color;
	}
}
.box4 {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box4-background;
	}
  &.moduletable, &.widget,
	 > .genesis-content {
		color: $base-text-color;
	}
	.button {
		background: darken($box4-background, 25%);
  }
	a {
		color: lighten($box4-background, 25%);
	}
} 
.box4, .title4 {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box4-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box4-background, 25%);
			border-color: darken($box4-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.box-white {
	color: lighten($black, 10%);
}
.title-white .g-title {
	color: lighten($black, 10%);
}
.box-grey, .box-pink, .box-red, .box-purple, .box-blue, .box-orange {
	color: $white;
}
.title-grey, .title-pink, .title-red, .title-purple, .title-orange, .title-blue {
 .g-title {
   color: $white;
 }
}

.title-white {
.g-title, .button {
	background: $box-white-background;
}
}
.box-white {
  &.moduletable, &.widget,
  &.g-outer-box,
  > .genesis-content {
	background: $box-white-background;
}
.button {
	background: darken($box-white-background, 25%);
 }
a {
	color: darken($box-white-background, 25%);
}
} 
.box-white, .title-white {
.button {
	&:hover, &:active, &:focus {
		background: darken($box-white-background, 10%);
	}
	&.button-3, &.button-2 {
		color: darken($box-white-background, 25%);
		border-color: darken($box-white-background, 25%);
		&:hover, &:active, &:focus {
			color: $black;
			border-color: $black;
		}
	}
 }
}

.title-grey {
	.g-title, .button {
		background: $box-grey-background;
	}
}
.box-grey {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box-grey-background;
	}
	.button {
		background: darken($box-grey-background, 25%);
  }
	a {
		color: lighten($box-grey-background, 25%);
	}
} 
.box-grey, .title-grey {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box-grey-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box-grey-background, 25%);
			border-color: darken($box-grey-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title-pink {
	.g-title, .button {
		background: $box-pink-background;
	}
}
.box-pink {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box-pink-background;
	}
	.button {
		background: darken($box-pink-background, 25%);
  }
	a {
		color: lighten($box-pink-background, 25%);
	}
} 
.box-pink, .title-pink {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box-pink-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box-pink-background, 25%);
			border-color: darken($box-pink-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title-red {
	.g-title, .button {
		background: $box-red-background;
	}
}
.box-red {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box-red-background;
	}
	.button {
		background: darken($box-red-background, 25%);
  }
	a {
		color: lighten($box-red-background, 25%);
	}
} 
.box-red, .title-red {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box-red-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box-red-background, 25%);
			border-color: darken($box-red-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title-purple {
	.g-title, .button {
		background: $box-purple-background;
	}
}
.box-purple {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box-purple-background;
	}
	.button {
		background: darken($box-purple-background, 25%);
  }
	a {
		color: lighten($box-purple-background, 25%);
	}
} 
.box-purple, .title-purple {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box-purple-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box-purple-background, 25%);
			border-color: darken($box-purple-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title-blue {
	.g-title, .button {
		background: $box-blue-background;
	}
}
.box-blue {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box-blue-background;
	}
	.button {
		background: darken($box-blue-background, 25%);
  }
	a {
		color: lighten($box-blue-background, 25%);
	}
} 
.box-blue, .title-blue {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box-blue-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box-blue-background, 25%);
			border-color: darken($box-blue-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.title-orange {
	.g-title, .button {
		background: $box-orange-background;
	}
}
.box-orange {
  &.moduletable, &.widget,
	&.g-outer-box,
   > .genesis-content {
		background: $box-orange-background;
	}
	.button {
		background: darken($box-orange-background, 25%);
  }
	a {
		color: lighten($box-orange-background, 25%);
	}
} 
.box-orange, .title-orange {
	.button {
		&:hover, &:active, &:focus {
			background: darken($box-orange-background, 10%);
		}
		&.button-3, &.button-4 {
			color: darken($box-orange-background, 25%);
			border-color: darken($box-orange-background, 25%);
			&:hover, &:active, &:focus {
				color: $white;
				border-color: $white;
			}
		}
  }
}

.spaced {
	.genesis-content {
		margin: 1px;
	}		
}

.bordered {
	.genesis-content {
		border: 1px solid $rule-color;
		margin: 1px;
	}	
}

.shadow {
	.genesis-content {
		box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	}
}

.shadow2 {
	.genesis-content {
		box-shadow: 0 0 4px rgba(0,0,0,0.15);
	}
}

.disabled {
	.genesis-content {
		opacity: 0.4;
	}
}

.square {
	.genesis-content {
		border-radius: none;
	}
}

.rounded {
	.genesis-content {
		border-radius: $core-border-radius;
		overflow: hidden;
	}
}

.equal-height { 
	.genesis-content { 
		flex-basis: 100%; 
		width: auto; 
	}
}
