#g-bottom {
	background: $bottom-background;
	color: $bottom-text-color;
	// g-container
	> .g-container {
		padding: 2rem 0;
	}	
	// Title and Heading
	.g-title, .g-headline,
	h1, h2, h3, h4, h5, h6 {
		color: darken($extension-text-color, 50%);
	}	
}

@media print {
	#g-bottom {
		background: #fff !important;
		color: #000 !important;
	}
}
