.g-blockcontent {
    font-family: get-font-family($font-family-promo);

    .g-title {
        color: $accent-color-1;
        padding: 0;
    }
}

.g-blockcontent-subcontent-title {
    margin: $content-margin 0;
}

.g-blockcontent-subcontent-title-icon {
    margin-bottom: $content-margin;
}

.g-blockcontent-subcontent-title-text {
    font-family: get-font-family($font-family-promo);
    font-weight: $font-weight-bold;
    font-size: $core-font-size + 0.3;
    color: $base-text-color;
}

.g-blockcontent-subcontent {
    margin: (-1 * ($content-margin + $content-padding));

    .g-blockcontent-spacing & {
        margin: -$content-margin 0;
    }
}

.g-blockcontent-subcontent-subtitle {
    font-family: get-font-family($font-family-promo);
    font-weight: $font-weight-bold;
    font-size: $core-font-size - 0.3;
    color: $black;
    vertical-align: super;
}

.g-blockcontent-subcontent-desc {
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-regular;
    font-size: $core-font-size;
    position: relative;
    margin: $content-margin;
    line-height: $core-line-height - 0.1;

    i {
        margin-top: $content-margin;
    }
}

.g-blockcontent-subcontent-img {
    border-radius: $border-radius;
}

.g-blockcontent-description {
    font-family: get-font-family($font-family-default);
    font-size: $core-font-size + 0.25;
    font-weight: $font-weight-regular;
}

.g-blockcontent-buttons {
    margin-top: $content-padding;
}
