.g-featuretabs-container {
    display: flex;
}

.g-featuretabs {

    .g-featuretabs-content-wrapper-container {
		width: 66.66667%;

        @include breakpoint(mobile-only) {
            width: 50%;
        }
    }

    .g-featuretabs-img-container {
    	padding: 15px;
    }

    .g-featuretabs-tab-wrapper-container {
        list-style: none;
    }

    .g-featuretabs-tab {
        outline: none;
        color: inherit !important;
    }

    .g-featuretabs-content-wrapper-container {
        list-style: none;
        margin: 0;

        .g-featuretabs-tab-wrapper-body {
            .g-featuretabs-content {
				padding: 0 15px 15px 15px;

				.g-featuretabs-title {
					font-size: 30.8px;
	    			line-height: 38.4px;
	    			font-weight: bold;

                    @include breakpoint(tablet-range) {
                        font-size: 24.5px;
                        line-height: 36px;
                    }

                    @include breakpoint(mobile-only) {
                        font-size: 18.9px;
                        line-height: 25px;
                        margin-top: 0;
                    }
    			}

                .g-featuretabs-desc {
					font-size: 16.1px;
					line-height: 27.6px;

                    @include breakpoint(mobile-only) {
                        font-size: 1.15em;
                        line-height: 1.35em;
                    }
                }
            }    
        }
    }
}
