.g-featuretabs-container {
	display: flex;
    &.ui-tabs {
        position: relative;

        .ui-tabs-nav {
            margin: 0;
			width: 33.33333%;
            padding: 0 15px;
            display: block !important;

            @include breakpoint(mobile-only) {
                width: 50%;
            }

            li {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding: 15px 0;
                float: none;
                outline: none;
                cursor: pointer;
                transition: opacity 0.2s ease-in;

                @include breakpoint(mobile-only) {
                    text-align: left;
                    line-height: 1.25em;
                    font-size: 1em;
                }

                &:first-child {
                	border-top: 0;
                }

                &:last-child {
                	border-bottom: 0;
                }

                &.bottom-tablet {
                    @include breakpoint(tablet-range) {
                        border-bottom: 0;
                    }
                }

                &.bottom-phone {
                    @include breakpoint(mobile-only) {
                        border-bottom: 0;
                    }
                }

                a {
                	display: block;
                }

                &.ui-state-active {

                	.g-featuretabs-tab-title {
						font-family: get-font-family($font-family-alt);
						color: darken($feature-text-color, 25%);
						font-weight: bold;
						font-size: 1.5em;
						line-height: 1.5em;

                        @include breakpoint(mobile-only) {
                            line-height: 1.25em;
                        }
					}
                }

                &.ui-state-disabled .ui-tabs-anchor {
                    cursor: text;
                }

                &.ui-tabs-loading .ui-tabs-anchor {
                    cursor: text;
                }  
            }

            .ui-tabs-anchor {
                text-decoration: none;            
            }
        }
    }    
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.g-featuretabs {

    .g-featuretabs-content-wrapper-container {
		width: 66.66667%;

        @include breakpoint(mobile-only) {
            width: 50%;
        }
    }

    .g-featuretabs-img-container {
    	padding: 15px;
    }

    .g-featuretabs-tab-wrapper-container {
        list-style: none;
    }

    .g-featuretabs-tab {
        outline: none;
        color: inherit !important;
    }

    .g-featuretabs-content-wrapper-container {
        list-style: none;
        margin: 0;

        .g-featuretabs-tab-wrapper-body {
            .g-featuretabs-content {
				padding: 0 15px 15px 15px;

				.g-featuretabs-title {
					font-size: 30.8px;
	    			line-height: 38.4px;
	    			font-weight: bold;

                    @include breakpoint(tablet-range) {
                        font-size: 24.5px;
                        line-height: 36px;
                    }

                    @include breakpoint(mobile-only) {
                        font-size: 18.9px;
                        line-height: 25px;
                        margin-top: 0;
                    }
    			}

                .g-featuretabs-desc {
					font-size: 16.1px;
					line-height: 27.6px;

                    @include breakpoint(mobile-only) {
                        font-size: 1.15em;
                        line-height: 1.35em;
                    }
                }
            }    
        }
    }
}
