.g-owlcarousel-showcase {
	.g-owlcarousel {
		position: relative;

		.g-owlcarousel-image-container {
		    float: left;
		    padding: 0 5px 0 0;
		    width: 66.66667%;

		    @include breakpoint(mobile-only) {
		    	float: none;
    			width: 100%;
    			padding: 5px;
		    }
    	}		
	
 		.g-owlcarousel-content {  
 			float: right;
    		width: 33.33333%;  
			padding: 0 15px; 

			@include breakpoint(mobile-only) {
		    	float: none;
    			width: 100%;
    			padding: 5px 5px 15px 5px;
		    }

		    .g-owlcarousel-item-title {
				font-family: get-font-family($font-family-alt);
    			font-weight: bold;
    			font-size: 1.85em;
    			line-height: 1.25em;	 
    			margin: 0;   

    			@include breakpoint(tablet-range) {
    				font-size: 23.1px;
    			}

    			.fp-showcase-maintop & {
					a {
						color: $white !important;
					}
    			}
		    }

		    .g-owlcarousel-item-desc {
		    	font-size: 1em;
    			margin-top: 10px;
    			line-height: 1.65em;
			
				.fp-showcase-maintop & {
					color: lighten($accent-color-1, 35%);
				}
		    }

		    .readon3 {
		    	color: lighten($accent-color-1, 35%);
		    }
		}

		.owl-dots {
			bottom: 0;
    		left: 66.66667%;
    		margin-left: 10px;
    		width: auto;

    		@include breakpoint(mobile-only) {
    			left: auto;
    			right: 0;
    		}

			button {
				opacity: 1;
				padding: 0;
				transition: opacity 0.2s ease-in;

				background-color: $dark-grey;

				&.active {
					background-color: $accent-color-1;

					&:hover {
						background-color: $accent-color-1;
					}	
				}

				&:hover {
					background-color: $dark-grey;
				}

				.fp-showcase-maintop & {
					border: 2px solid $white;
					background: transparent;
					opacity: 0.8;

					&.active {
						background-color: $white;
						opacity: 1;

						&:hover {
							background-color: $white;
						}	
					}
				}
			}
		}      
	}
}
