.g-owlcarousel-strips-slider {
  .g-owlcarousel {

    .owl-item {

      .g-owlcarousel-content {
        position: relative;

        .rt-strips-tag {
          color: $white;
          position: absolute;
          top: -60px;
          left: 25px;
          font-family: get-font-family($font-family-alt2);
          font-size: 12px;
          font-weight: normal;
          text-transform: uppercase;
          padding: 5px 10px;
          background: $accent-color-1;
          line-height: 1;
          border-radius: 3px;
        }

        .g-owlcarousel-item-title {
          font-family: get-font-family($font-family-alt);
          font-weight: bold;
          font-size: 1.85em;
          line-height: 1.25em;

          @include breakpoint(tablet-range) {
            font-size: $base-font-size * 1.65;
            line-height: $base-line-height * 1.25;
          }

          @include breakpoint(mobile-only) {
            font-size: $base-font-size * 1.35;
            line-height: $base-line-height * 1.25;
          }

          .fp-extension & {
            a {
              color: $extension-text-color;
            }
          }
        }

        .g-owlcarousel-item-desc {
          font-family: get-font-family($font-family-alt2);

          .fp-extension & {
            color: fade-out($extension-text-color, 0.35);
          }
        }

        .readon, .readon2, .readon3 {
          margin-top: 10px;
        }
      }
    }

    .owl-dots {
      position: relative;
      margin-top: 35px;

      button {
        opacity: 1;
        padding: 0;
        transition: opacity 0.2s ease-in;
        background-color: $dark-grey;

        &.active {
          background-color: $accent-color-1;

          &:hover {
            background-color: $accent-color-1;
          } 
        }

        &:hover {
          background-color: $dark-grey;
        }
      }  
    }

    .owl-nav {
      button.owl-prev, button.owl-next {
        background: $accent-color-1;
        color: $white;
        width: 45px;
        height: 45px;
        opacity: 0.35;
        font-size: 2em;
        position: absolute !important;
        border: 0;
        transition: all 0.2s ease-in-out;

        .fp-extension & {
          margin-top: -85px;
        }

        &:hover { 
          opacity: 1; 
        }

        &:focus {
          outline: none;
        }

        &:before {
              font-family: FontAwesome;
              position: relative;
          }    

        &.owl-prev {
            left: 10px;             

            &:before {
                content: "\f104";
            }
        }

        &.owl-next {
            right: 10px;                                

            &:before {
                content: "\f105";
            }
        }

        span {
          display: none;
        }
      }
    }
  }
}
